@import '~assets/css/mixin.styl'

.m-sidebar-wrap
    background #33393E
    min-height 550px
    height 100%
    width 40px
    position fixed
    top 0
    bottom 0
    right 0
    z-index 999
    // 启用硬件加速
    _willAccelerate()
    margin auto 0
    .m-expand-bg
        background #33393E
        height 2020px
        width @width
        _completeCenter(0,auto,,)
    .u-side-lst
        _transitionCustom height .8s linear
        .u-side-item
            float left
            width @width
            height @width
            position relative
            cursor pointer
            .u-lk
                _display()
                color #d2d2d2
            & *
                cursor @cursor
            &:hover
                background #9864F3
                color #f2f2f2
                .u-lk
                    color #f2f2f2
            .icon
                width 30px
                text-align center
                height 30px
                line-height 30px
                _completeCenter(,,2px)
                .iconfont
                    font-size 24px
    .m-sidebar-con
        width @width
        _completeCenter(0,auto,120px,auto)
        .u-side-item
            margin 0 0 10px
    .m-sidebar-other
        width @width
        _completeCenter(0,auto,auto,40px)
        .u-side-item
            margin 10px 0 0 


