@import '~assets/css/mixin.styl'

.m-sidebar-wrap
    background #27333C
    min-height 550px
    height 100%
    width 40px
    position fixed
    top 0
    bottom 0
    right 0
    z-index 999
    // 启用硬件加速
    _willAccelerate()
    margin auto 0
    _unUserSelect()
    .m-expand-bg
        background #27333C
        height 2020px
        width @width
        _completeCenter(0,auto,,)
    .u-side-lst
        _transitionCustom height .8s linear
        .u-side-item
            float left
            width @width
            height @width
            position relative
            cursor pointer
            .u-lk
                width @width
                height @height
                _display(inline-block)
                color #d2d2d2
            & *
                cursor @cursor
            &.slide
                width 150px
                height @height
                _transitionCustom all .3s cubic-bezier(0.43, 0.61, 0.38, 1.16),background-color .15s linear,border-radius .2s linear
                .icon
                    _completeCenter(,110px,2px)
                    _transitionCustom all .15s linear
                &:hover
                    _translate3d(-80px)
                    background #FB576D
                    color #f2f2f2
                    _borderRadiusCustom(@height/8 0 0 @height/8)
                    .icon
                        _completeCenter(,103px,2px)

            &:hover,&.on
                background #FB576D
                color #f2f2f2
                .u-lk
                    color #f2f2f2
            .icon
                width 30px
                text-align center
                height 30px
                line-height 30px
                _completeCenter(,,2px)
                .iconfont
                    font-size 24px
            .u-txt
                _display(inline-block)
                color #f2f2f2
                height @height
                line-height @height
                width 80px
                margin 0 0 0 40px
                font-size 14px
                _spacingPlus(2px)
                padding 0 0 0 2px
        // qq客服
        .service-box
            width 115px
            height 195px
            _completeCenter(-(@width + 2px),auto,auto,-90px)
            _translate3d(@width + 10px)
            _transitionCustom all .3s cubic-bezier(0.43, 0.61, 0.38, 1.16)
            z-index -1
            .box-inner
                position relative
                width @width - 6px
                height @height
                background #fff
                _borderRadius(4px)
                _borderAll(#dedede)
                .u-close
                    width 30px
                    height 30px
                    _display()
                    background url("../../assets/img/close_im.png") center center no-repeat
                    _completeCenter(auto,10px,-14px,auto)
                    z-index 2
                .qq-box
                    height 134px
                    _border(bottom,#dedede)
                    position relative
                    margin 0 0 8px
                    .u-box
                        width @width
                        height @height
                    .qq-icon
                        width 78px - 6px
                        height 78px - 6px
                        _completeCenter(,,15px,auto)
                        _borderRadius()
                        _borderAll(#fff,3px)
                        _boxShadow(5px,rgba(0,0,0,0.4),0,2px)
                        _overflow()
                        img
                            max-width 60px
                            _completeCenter(,,6px,auto)
                            _transitionCustom all .3s cubic-bezier(0.28, 0.47, 0.73, 0.93)
                        &:hover
                            img
                                max-width 78px
                    .u-tit
                        width @width
                        height 24px
                        line-height @height
                        text-align center
                        _completeCenter(,,auto,8px)
                        color $c_blue
                        font-size 14px
                        font-family Arial, Helvetica, sans-serif
                .other-box
                    .u-group
                        text-align center
                        .tit
                            font-size 14px
                            height 24px
                            line-height @height
                            color #222
                            font-weight bold
                            _spacingPlus()
                        .desc
                            font-size 13px
                            height 22px
                            line-height @height
                            color #ff6533
            &.active
                _translate3d(0)
    .m-sidebar-con
        width @width
        _completeCenter(0,auto,80px,auto)
        .u-side-item
            margin 0 0 10px
            &.u-shopCart
                height 150px
                background #FB576D
                .u-lk
                    color #f2f2f2
                .icon
                    _completeCenter(,,16px,auto)
                .tit
                    margin 50px auto 0
                    width 18px
                    line-height 18px
                    font-size 14px
                    text-align center
                .data
                    _display()
                    margin 8px auto 0
                    width 22px
                    text-align center
                    height @width
                    line-height @width
                    background #f2f2f2
                    color #FB576D
                    font-size 13px
                    _borderRadius(12px)
                    &.v3
                        margin 10px auto 0
                        height 18px
                        width 32px
                        line-height 18px
                &:hover
                    background @background
                    color #f2f2f2
                    .u-lk
                        color #f2f2f2

    .m-sidebar-other
        width @width
        _completeCenter(0,auto,auto,50px)
        .u-side-item
            margin 10px 0 0 
        .ewm-box
            width 280px
            height 115px
            _completeCenter(-(@width + 6px),auto,-42px,auto)
            _translate3d(@width + 10px)
            _transitionCustom all .3s cubic-bezier(0.43, 0.61, 0.38, 1.16)
            z-index -1
            .box-inner
                position relative
                width @width -6px
                height @height
                background #fff
                _borderRadius(4px)
                _borderAll(#dedede)
                .u-pic
                    width 95px
                    height 95px
                    _imgwrap()
                    _completeCenter(10px,auto)
                .u-con
                    width @width - 130px
                    margin 0 0 0 115px
                    padding 15px 0 10px 0
                    .tit
                        font-size 16px
                        height 24px
                        line-height @height
                        font-weight 700
                        margin 0 0 4px
                        color #27333C
                    .desc
                        font-size 14px
                        height 18px
                        line-height @height
                        color #777
                        _spacingPlus()
            &.active
                _translate3d(0)




