@import '~assets/css/mixin.styl'

.m-apply-wrap
    min-height 400px
    color #40474a
    .m-mn
        width 948px - 30px
        height 294px - 20px
        position relative
        padding 10px 15px
        margin 0 0 14px
        .u-tit
            height 48px
            line-height 48px
            font-size 30px
            font-weight bold
            _spacing(2px)
        .u-speak
            height 28px
            line-height 28px
            font-size 16px
        &.not
            background url("../../../../../assets/img/apply-bg01.jpg") no-repeat center center
            background-size auto 100%
            .u-tit,.u-speak
                color #FF6533
            .u-btn
                _display()
                width 155px
                height 37px
                _borderRadius(2px)
                &.open-up
                    _completeCenter(161px,auto,130px,auto)
                    color #f2f2f2
                    line-height 37px
                    width @width - 31px
                    padding 0 0 0 31px
                    font-size 14px
                    text-align center
                    &:hover
                        _boxShadow(10px,#219C0E,2px,2px)
                    &:active
                        _boxShadow(10px,#219C0E - 15%,1px,0)
                &.download
                    _completeCenter(auto,195px,130px,auto)
                    &:hover
                        _boxShadow(10px,#0D778D,2px,2px)
                    &:active
                        _boxShadow(10px,#0D778D - 15%,1px,0)

        &.success
            background url("../../../../../assets/img/apply-bg02.jpg") no-repeat center center
            background-size auto 100%
            .u-tit,.u-speak
                color #20AD86
            .u-btn
                _display()
                width 155px
                height 37px
                _borderRadius(2px)
                &.download
                    _completeCenter(auto,195px,129px,auto)
                    &:hover
                        _boxShadow(10px,#0D778D,2px,2px)
                    &:active
                        _boxShadow(10px,#0D778D - 15%,1px,0)
            

    .m-other
        width 948px - 30px
        height 100px - 20px
        background url("../../../../../assets/img/apply_bg03.jpg") no-repeat center center
        background-size 100% auto
        // background #CFF3B9
        position relative
        padding 10px 15px
        .u-info
            width 380px
            .u-tit,.u-speak
                color #117692
            .u-tit
                height 48px
                line-height 48px
                font-size 30px
                font-weight bold
                _spacing(2px)
            .u-speak
                height 28px
                line-height 28px
                font-size 16px
        .u-btn
            width 135px
            height 42px
            line-height 42px
            text-align center
            background #ff6533
            color #f2f2f2
            font-size 18px
            _borderRadius(3px)
            _spacingPlus(3px)
            _completeCenter(auto,15px)
            &:hover
                background @background - 10%
                _boxShadow(10px,#ff6533,2px,2px)
            &:active
                _boxShadow(10px,#ff6533 - 15%,1px,0)


                
