@import '~assets/css/mixin.styl'

.m-about-con
    em.vital
        color $c_blue
        padding 0 2px
    .u-article
        text-indent 27px
        font-size 16px
        line-height 30px
        padding 0 0 15px
