@import '~assets/css/mixin.styl'

.m-flow-wrap
    margin-bottom 20px

.m-apply-wrap
    .m-apply-con
        min-height 380px
        _borderAll(#e2e2e2)
        .apply-form
            width 500px
            margin 40px auto 0
        .v1
            background #e45