@import '~assets/css/mixin.styl'

.g-doc
    .g-bd
        .m-bd-wrap
            margin 40px 0 40px
            .m-bd-mn
                width 980px
                min-height 480px
                &.fade-enter-active,&.fade-enter-active
                    _transitionAll(2s)
                &.fade-enter
                    _opacity(0)
                    _translate3d(80px)
                &.fade-leave-active
                    _opacity(0)
                    _translate3d(80px)
