@import '~assets/css/mixin.styl'

.g-doc
    background #fff
    .g-bd
        .m-bd-wrap
            min-height 500px
            padding 45px 0 35px
            .m-bd-mn
                width 1020px
                min-height 480px
                &.fade-enter-active,&.fade-enter-active
                    _transitionAll(2s)
                &.fade-enter
                    _opacity(0)
                    _translate3d(80px)
                &.fade-leave-active
                    _opacity(0)
                    _translate3d(80px)
