@import '../../assets/css/mixin.styl'

.g-doc
    background #fff
    .g-bd
        .m-bd-wrap
            min-height 500px
            margin 10px 0 30px 0
            .m-bd-mn
                width 1020px
                height 880px
                background #e2e2e2
