@import '../../assets/css/mixin.styl'

.m-sdb-box
    width 165px
    .m-sdb-hd
        width 100%
        background #fff
        position relative
        padding 12px 0
        .u-pic
            width 84px
            height 84px
            margin 0 auto 10px
            _borderRadius()
            img
                width @width
                height @height
                _borderRadius()
        .u-name
            line-height 28px
            height 28px
            font-size 15px
            _spacingPlus()
            text-align center
        .u-line
            _completeCenter(,,auto,0)
            width 80%
            height 1px
            background #e2e2e2
    .m-sdb-menu
        margin 20px 0 80px
        .m-menu-lst
            .m-menu-item
                _border(bottom,#e2e2e2)
                .m-submenu-hd
                    height 54px
                    line-height 54px
                    padding-left 25px
                    position relative
                    font-size 16px
                    _spacingPlus(2px)
                    .iconfont
                        color #a5a5a5
                        font-size 15px
                        position absolute
                        _display()
                        height 20px
                        line-height 20px
                        width 20px
                        text-align center
                        _verticalLayout(,25px)
                        _transitionAll(.15s)
                        &.on
                            _transitionAll(.25s,cubic-bezier(0.17, 0.51, 0.28, 0.86))
                            _rotate(-90deg)
                .m-submenu-gp
                    margin-bottom 10px
                    .u-submenu-item
                        // _display(none)
                        font-size 13px
                        _spacingPlus()
                        line-height 28px
                        height 28px
                        cursor pointer
                        padding-left 30px
                        &.active,&:hover
                            color $c_blue
                            background #E4F3FD
                        div
                            cursor pointer

