@import '../../assets/css/mixin.styl'

.m-sld-box
    background #e2e2e2
    width 165px
    min-height 480px
    .m-sdb-hd
        height 220px
        width 165px
        background #e2e2e2
        .m-member-info
            width @width
            height @height