@import '~assets/css/mixin.styl'

.g-doc
    .g-bd
        width 100%
        .g-ad
            height 450px
            position relative
            .m-sld
                height @height
                .swiper-container
                    .swiper-wrapper
                        height @height
                    .swiper-pagination
                        bottom 20px
                        height 15px
                        cursor default
                        .swiper-pagination-bullet
                            width 48px
                            height 8px
                            margin 0 8px
                            _borderRadius(1px)
                            background #a5a5a5
                            _opacity(1)
                            cursor pointer
                        .swiper-pagination-bullet-active
                            _opacity(1)
                            background $c_blue
                    
        .g-bd-ct
            width 100%
            position relative
            z-index 999
            .m-all-search
                width 100%
                height 110px
                position relative
                .search-box
                    width 976px
                    height 60px
                    _completeCenter()
                    .u-ipt,.u-btn
                        float left
                    .u-ipt
                        width 656px
                        height 60px
                        background #fff
                        _border(#e2e2e2,2px)
                        padding 0 15px
                        font-size 15px
                    .u-btn
                        width 140px
                        height 60px
                        line-height 60px
                        text-align center
                        background #0479cc
                        margin-left 20px
                        color #f4f4f4
                        font-size 17px
                        _spacingPlus(1px)
                        font-family $f_family
                        &:hover
                            color @color
                        &.v2
                            background #ff6533

            .m-category
                background #fff
                height 284px
                _border(#f0f0f0,2px)
                _boxShadow(12px,rgba(0,0,0,.15))
                overflow hidden
                margin-bottom 30px
                & .u-hd
                    height 62px
                    line-height 62px
                    text-align center
                    _spacingPlus(2px)
                    font-size 15px
                    a,a:hover
                        color #313536
                        cursor default
                .m-brand-wrap .u-hd i
                    color #313536
                    font-size 14px
                    margin-left 3px
                & .u-con
                    height 191px
                    padding 15px
                    _border(top,#ededed,1px)
                .m-brand-wrap
                    width 850px
                    .u-hd
                        .u-lk:hover
                            color $c_blue
                            cursor pointer
                            .iconfont
                                color @color
                    .u-con
                        width @width - 50px
                        padding 18px 25px
                        _border(right,#ededed,1px)
                        .u-lk
                            float left
                            width 100px
                            height 92px
                            position relative
                            img
                                width 54px
                                height 54px
                                margin 0 23px
                            .u-tit
                                margin 5px 0 0
                                line-height 25px
                                text-align center

                .m-price-wrap
                    width 350px
                    .u-con
                        width @width - 50px
                        padding 25px 25px 15px
                        height 182px
                        .u-lk
                            float left
                            height 50px
                            line-height 50px
                            margin 0 0 8px
                            text-align center
                            font-size 13px
                            width @width * (1/3)
                            &.light
                                color $c_blue
            
            // b2b服务
            .m-b2c-svr
                margin-bottom 25px
                .m-svr-lst
                    padding 0 40px
                    .u-svr-item
                        float left
                        margin-right 80px
                        .u-lk
                            _display()
                        &.lastItem
                            margin-right 0



            .m-lst-group
                height 750px
                .m-lst-hd
                    height 60px
                    line-height 60px
                    background #fff
                    _boxShadow(12px,rgba(0,0,0,.15))
                    h3
                        .u-tit
                            font-size 24px
                            font-weight bold
                            margin 0 0 0 15px
                        .u-sep
                            color #959595
                            margin 0 0 0 5px
                        .u-des
                            color #959595
                            margin 0 0 0 2px
                            font-weight normal
                    .u-more
                        margin-right 15px
                        .iconfont
                            position relative
                            top 1px
                            margin-left 2px
                .m-lst-con
                    padding 5px 0 25px
                    width 1200px
                    .m-lst
                        width 1220px
                        .m-item
                            float left
                            width 285px
                            height 310px
                            background #fff
                            _boxShadow(12px,rgba(0,0,0,.15))
                            margin 20px 20px 0 0
                            _transitionAll(.2s)
                            &:hover
                                _transitionAll(.3s,cubic-bezier(0.04, 0.65, 0.65, 0.92))
                                _translate3d(,-4px);
                                _boxShadow(20px,rgba(0,0,0,.15),1px,10px)
                                h5.u-tit
                                    font-size 16px
                            .u-pic
                                width 285px
                                height 200px
                                img 
                                    width 100%
                                    height 100%
                            .u-con
                                width 260px
                                position relative
                                padding 0 14px
                                h5.u-tit
                                    height 28px
                                    line-height 28px
                                    font-size 15px
                                    overflow hidden
                                    font-weight normal
                                    margin-top 10px
                                .u-des
                                    height 22px
                                    line-height 22px
                                    color #959595
                                .u-price
                                    margin-top 15px
                                    height 22px
                                    line-height 22px
                                    color #ff6533
                                    em
                                        font-size 20px
                                        margin-left 3px
                                        font-weight normal
                                .u-lk
                                    width 85px
                                    height 42px
                                    background #0479cc
                                    color #fff
                                    text-align center
                                    position absolute
                                    top 48px
                                    right 14px
                                    _borderRadius(3px)
                                    p 
                                        font-size 13px
                                        line-height 18px
                                        &.u-count
                                            margin-top 3px
                                    p strong
                                        font-weight normal
