@import '../../assets/css/main.styl'
.g-doc
    .g-hd
        height 60px
        width 100%
        background #fff
        _border(bottom,#e2e2e2)
    
    .g-bd
        height 480px
        width 100%

    .g-ft
        background #404347
        height 420px
        width 100%