@import '~assets/css/mixin.styl'

.g-doc
    .g-bd
        width 100%     
        .g-bd-ct
            width 100%
            position relative
            z-index 999
            .m-all-search
                width 100%
                height 110px
                position relative
                .search-box
                    width 976px
                    height 60px
                    _completeCenter()
                    .m-srh-result-box
                        width 654px
                        background #fff
                        _borderAll(#e2e2e2)
                        _borderRadius(4px)
                        _boxShadow(8px,rgba(0,0,0,.08),1px,1px)
                        position absolute
                        top 62px
                        z-index 99
                        background #fff
                    .u-ipt,.u-btn
                        float left
                    .u-ipt
                        width 656px
                        height 60px
                        background #fff
                        _borderAll(#e2e2e2)
                        padding 0 15px
                        font-size 15px
                    .u-btn
                        width 140px
                        height 60px
                        line-height 60px
                        text-align center
                        background #0479cc
                        margin-left 20px
                        color #f4f4f4
                        font-size 17px
                        _spacingPlus(1px)
                        font-family $f_family
                        &:hover
                            color @color
                        &.v2
                            background #ff6533


            // b2b服务
            .m-b2c-svr
                _display(none)
                margin-bottom 25px
                .m-svr-lst
                    padding 0 40px
                    .u-svr-item
                        float left
                        margin-right 80px
                        .u-lk
                            _display()
                        &.lastItem
                            margin-right 0
            // 平台特色服务
            .m-svr-box
                width 100%
                min-height 50px
                background #fff
                _boxShadow(8px,rgba(0,0,0,.05))
                margin-bottom 25px

            //进入B2B大厅
            .m-b2b-entrance
                // background url('../../assets/img/b2b-entrance-bg.jpg') 0 0 no-repeat
                // background-size 100% auto
                background #fff
                _boxShadow(8px,rgba(0,0,0,.05))
                .m-etc-bg
                    height 360px
                    position relative
                    .m-info
                        width 480px
                        height 220px
                        _completeCenter(72px,auto)
                        .u-tit
                            font-size 48px
                            color #313536
                            height 60px
                            line-height 60px
                            margin-bottom 20px
                            .vital
                                color #f43
                                font-weight bold
                        .u-txt
                            color #777
                            font-size 15px
                            _spacingPlus()
                            text-indent 55px
                        .u-btn
                            margin-top 30px
                            background $c_blue
                            color #f4f4f4
                            font-size 32px
                            _spacingPlus(8px)
                            height 64px
                            line-height 64px
                            width 280px
                            margin-left 15px
                            text-align center
                            _display()
                            _borderRadius(6px)
                    .u-img-bg
                        width 570px
                        height 175px
                        background url('../../assets/img/b2b-entrance-img01.png') 0 0 no-repeat
                        background-size 100% auto
                        _completeCenter(auto,60px)
            
            // 公告条
            .m-notice-bar-warp
                margin 25px 0
            
            // b2c车辆盒子
            .m-lst-group
                max-height 750px
                min-height 60px
                margin-bottom 25px
                .m-lst-hd
                    height 60px
                    line-height 60px
                    background #fff
                    _boxShadow(8px,rgba(0,0,0,.05))
                    h3
                        .u-tit
                            font-size 24px
                            _spacingPlus()
                            font-weight bold
                            margin 0 0 0 15px
                        .u-sep
                            color #959595
                            margin 0 0 0 5px
                        .u-des
                            color #959595
                            margin 0 0 0 2px
                            font-weight normal
                    .u-more
                        margin-right 15px
                        .iconfont
                            position relative
                            top 1px
                            margin-left 2px