@import '~assets/css/mixin.styl'

.g-doc
    .g-bd
        width 100%     
        _unUserSelect()
        .g-bd-ct
            width 100%
            position relative
            z-index 999
            .m-all-search
                width 100%
                height 110px
                position relative
                .search-box
                    width 976px
                    height 60px
                    _completeCenter()
                    .m-srh-result-box
                        width 654px
                        background #fff
                        _borderAll(#e2e2e2)
                        _borderRadius(4px)
                        _boxShadow(8px,rgba(0,0,0,.08),1px,1px)
                        position absolute
                        top 62px
                        z-index 99
                        background #fff
                    .u-ipt,.u-btn
                        float left
                    .u-ipt
                        width 656px
                        height 60px
                        background #fff
                        _borderAll(#e2e2e2)
                        padding 0 15px
                        font-size 15px
                    .u-btn
                        width 140px
                        height 60px
                        line-height 60px
                        text-align center
                        background #2e98e2
                        margin-left 20px
                        
                        color #f4f4f4
                        font-size 17px
                        _spacingPlus(1px)
                        font-family $f_family
                        &:hover
                            color @color
                        &.v2
                            background #ff6533
                            
            // 平台特色服务
            .m-svr-box
                width 100%
                min-height 50px
                background #fff
                _boxShadow(8px,rgba(0,0,0,.05))
                margin-bottom 25px

            // 进入b2b大厅
            .m-b2b-entrance
                // background url('../../assets/img/b2b-entrance-bg.jpg') 0 0 no-repeat
                // background-size 100% auto
                background #fff
                _boxShadow(8px,rgba(0,0,0,.05))
                margin 0 0 25px
                .m-etc-bg
                    height 360px
                    position relative
                    .m-info
                        width 480px
                        height 220px
                        _completeCenter(72px,auto)
                        .u-tit
                            font-size 48px
                            color #313536
                            height 60px
                            line-height 60px
                            margin-bottom 20px
                            .vital
                                color #f43
                                font-weight bold
                        .u-txt
                            color #777
                            font-size 15px
                            _spacingPlus()
                            text-indent 55px
                        .u-btn
                            margin-top 30px
                            background $c_blue
                            color #f4f4f4
                            font-size 32px
                            _spacingPlus(8px)
                            height 64px
                            line-height 64px
                            width 280px
                            margin-left 15px
                            text-align center
                            _display()
                            _borderRadius(6px)
                    .u-img-bg
                        width 570px
                        height 175px
                        background url('../../assets/img/b2b-entrance-img01.png') 0 0 no-repeat
                        background-size 100% auto
                        _completeCenter(auto,60px)

            .m-lst-mn
                .m-lst-wrap
                    margin 0 0 25px
                    .m-lst-hd
                        height 60px
                        line-height 60px
                        margin 0 0 5px
                        h3
                            .u-tit
                                font-size 24px
                                _spacingPlus()
                                font-weight bold
                                margin 0 0 0 6px
                            .u-sep
                                color #959595
                                margin 0 0 0 5px
                            .u-des
                                color #959595
                                margin 0 0 0 2px
                                font-weight normal
                    .m-lst-con
                        min-height 270px
                        margin 0 0 25px
                        clear both
                    &.v1
                        margin 0 0 -20px
                    .m-btn-wrap
                        height 44px
                        _translate3d(0,-8px)
                        .u-btn
                            width 175px
                            height @height
                            line-height @height
                            margin 0 auto
                            background $c_blue
                            _display()
                            font-size 15px
                            _spacingPlus(4px)
                            color #f2f2f2
                            text-align center
                            _borderRadius(@height * 0.5)
                            &:hover
                                background @background - 2%
                            &:active
                                background @background + 5%

        