@import '~assets/css/mixin.styl'

.g-doc
    .g-bd
        width 100%
        .g-ad
            height 450px
            position relative
            .m-sld
                height @height
                .swiper-container
                    .swiper-wrapper
                        height @height
                    .swiper-pagination
                        bottom 20px
                        height 15px
                        cursor default
                        .swiper-pagination-bullet
                            width 60px
                            height 8px
                            margin 0 6px
                            _borderRadius(1px)
                            background #545454
                            _opacity(.5)
                            cursor pointer
                        .swiper-pagination-bullet-active
                            _opacity(1)
                            background $c_blue