@import '~assets/css/mixin.styl'

.g-doc
    .g-bd
        width 100%
        .g-ad
            height 450px
            position relative
            .m-sld
                height @height
                .swiper-container
                    .swiper-wrapper
                        height @height
                    .swiper-pagination
                        bottom 12px
                        height 10px
                        cursor default
                        .swiper-pagination-bullet
                            width 42px
                            height 4px
                            margin 0 6px
                            _borderRadius(1px)
                            background #eee
                            _opacity(.6)
                            cursor pointer
                        .swiper-pagination-bullet-active
                            _opacity(1)
                            background $c_blue