@import '~assets/css/mixin.styl'

.g-doc
    width 100%
    // 轮播区
    .g-carousel
        height 450px
        .m-sld
            height @height
            .swiper-container
                .swiper-wrapper
                    height @height
                    .swiper-slide
                        _overflow()
                        .u-box
                            _display()
                            width 100%
                            height 100%
                            position relative
                            .pic
                                width 1920px
                                height 450px
                                position absolute
                                left 50%
                                margin-left -960px
                .swiper-pagination
                    bottom 12px + 80px
                    height 10px
                    line-height 10px
                    cursor default
                    .swiper-pagination-bullet
                        width 6px
                        height 6px
                        margin 0 8px
                        _borderRadius()
                        background #444
                        _borderAll(#aaa)
                        _opacity(1)
                        cursor pointer
                        vertical-align top
                    .swiper-pagination-bullet:hover,
                    .swiper-pagination-bullet-active
                        _opacity(1)
                        background #eee
                        _borderAll(#aaa)