@import '~assets/css/mixin.styl'

.g-doc
    .g-bd
        width 100%
        .m-sell-hall
            width 100%
            .m-sell-swiper
                height 400px
                position relative
                margin 5px 0 35px
                .swiper-container
                    height @height
                    position relative
                    .swiper-wrapper
                        height 400px
                    .swiper-pagination
                        bottom 20px
                        height 15px
                        cursor default
                        z-index 999
                        .swiper-pagination-bullet
                            width 12px
                            height 12px
                            margin 0 8px
                            _borderRadius()
                            background #d2d2d2
                            _opacity(.5)
                            cursor pointer
                        .swiper-pagination-bullet-active
                            _opacity(1)
                            background #fff
