@import '~assets/css/mixin.styl'

.g-doc
    background #fff
    _unUserSelect()
    .g-bd
        width 100%
        .m-send-con
            width 100%
            .m-banner-box
                width 100%
                height 400px
                position relative
                background url("../../assets/img/sendCar-bg02.jpg") center center no-repeat
                background-size auto 400px
            .m-bill-wrap
                width 850px
                min-height 1000px
                margin 20px auto 0
                padding-bottom 20px
                position relative
                .m-bill-hd
                    height 64px + 32px
                    margin 0 0 20px
                    .u-tit
                        height 64px
                        line-height @height
                        text-align center
                        color #313536
                        font-size 28px
                        _border(bottom,#e2e2e2)
                        _spacingPlus(2px)
                        .vital
                            color #ff6533
                    .tips
                        text-align center
                        height 28px
                        line-height @height
                        padding 4px 0 0
                        color #4A5C69
                        .must
                            color #FB384A
                            font-size 17px
                            margin 0 3px
                .m-bill-con
                    width @width
                    .m-bill-box
                        width @width - 50px
                        margin 0 25px
                        padding 20px 0
                        .m-gp-wrap
                            margin-bottom 12px
                            .m-item
                                width 100%
                            .gk-radio-box
                                height 36px
                                line-height 36px
                        .m-gp-other
                            &.color
                                padding-top 10px
                                margin-top 25px
                                _border(top,#e2e2e2)
                            &.postRetail
                                .m-switch-box
                                    margin-bottom 10px
                        .other-car-info
                            margin 25px 0 10px
                            padding 0 0 20px
                            _border(bottom,#e2e2e2)
                            .m-hd
                                height 32px
                                line-height @height
                                position relative
                                padding 0 0 0 20px
                                margin 0 0 8px 0
                                font-size 17px
                                _spacingPlus()
                                &:before
                                    content ""
                                    _display()
                                    width 8px
                                    height 8px
                                    background $c_blue
                                    _completeCenter(0,auto)
                            .not-show
                                position relative
                                .info
                                    line-height 24px
                                    color #999
                                .u-btn
                                    _display()
                                    width 120px
                                    height 28px
                                    line-height @height
                                    text-align center
                                    margin 12px 0 0
                                    _borderAll($c_blue)
                                    color $c_blue
                                    _borderRadius(14px)
                        .m-gp-btn
                            margin 35px 0 0
                            .m-submit-box
                                _display()
