@import '~assets/css/mixin.styl'

.g-doc
    background #fff
    .g-bd
        width 100%
        .m-send-con
            width 100%
            .m-banner-box
                width 100%
                height 220px
                position relative
                background url("../../assets/img/sendCar-bg.png") center center no-repeat
                background-size auto 220px
                // img
                //     width 100%
                //     min-width 1920px
                //     position absolute
                //     left 50%
                //     margin-left -960px
            .m-bill-wrap
                width 850px
                min-height 1000px
                margin 20px auto 0
                padding-bottom 20px
                position relative
                .m-bill-hd
                    height 64px
                    line-height 64px
                    _border(bottom,#e2e2e2)
                    .u-tit
                        text-align center
                        color #313536
                        font-size 28px
                        _spacingPlus(2px)
                        .vital
                            color #ff6533
                .m-bill-con
                    width @width
                    .m-bill-box
                        width @width - 50px
                        margin 0 25px
                        padding 20px 0
                        .m-gp-wrap
                            margin-bottom 12px
                            .m-item
                                width 100%
                        .m-gp-other
                            &.postRetail
                                .m-switch-box
                                    margin-bottom 10px

                        .m-gp-btn
                            .u-submit
                                width 80px
                                _display(inline-block)