@import '../../assets/css/mixin.styl'

.g-doc
    .g-hd
        height 100px
        width 100%
        background #fff
        _border(bottom,#e2e2e2)
        _boxShadow(5px,rgba(0,0,0,.08),0,2px)
        .m-hd
            font-size 14px
            .m-logo
                height 100px
                width 200px
                position relative
                a
                    height 100%
                    width 100%
                    _display(block)
                img
                    _completeCenter()
            .m-city
                height 54px
                line-height 54px
                margin-top 23px
                padding-left 30px
                text-align left
                .u-lk
                    .iconfont
                        margin-left 4px
                        font-size 15px
                        color #959595
                        _display(inline-block)
                        _transitionAll(.05s)
                    &.on
                        color $c_blue
                        .iconfont
                            color @color
                            _rotate(-180deg)
                            _transitionAll(.1s,cubic-bezier(0.12, 0.38, 0.27, 0.55))
                            

            .m-site-lk
                .m-lk-list
                    line-height 100px
                    .u-item
                        float right
                        padding 0 25px
                        .router-link-active
                            color $c_blue
                        &.login
                            .lg
                                padding-left 28px
                                position relative
                                .i-user-lgn
                                    font-size 17px
                                    vertical-align: middle;
                                    &::before
                                        content ""
                                        _display()
                                        width 22px
                                        height 22px
                                        background url(../../assets/img/i-user-lgn.png) 0 0 no-repeat
                                        background-size 100% 100%
                                        _verticalLayout(0)
                        &.member
                            .u-member-box
                                height 100px
                                overflow hidden
                                > *
                                    _display(inline-block)
                                .u-person
                                    width 42px
                                    height 42px
                                    _borderRadius()
                                    _borderAll(#c2c2c2)
                                    overflow hidden
                                    vertical-align middle
                                    position relative
                                    img
                                        width @width - 7px
                                        height @height - 7px
                                        _completeCenter()
                                        _borderRadius()
                                .u-name
                                    padding 0 5px
                                .u-lk
                                    margin-left 12px
