@import '~assets/css/mixin.styl'
.m-about-mn
    width 930px
    color #27333C
    .m-about-hd
        width @width
        height 70px
        line-height @height
        color #e2e2e2
        _border(bottom,#ededed)
        .tit
            _display(inline-block)
            font-size 24px
            font-weight normal
            _spacingPlus(1px)
            color #27333C
            position relative
    .m-article
        padding 24px 0
        &.v2
            width @width - 20px
            padding 0 10px
