@import '~assets/css/mixin.styl'

$box-width = 1200px

// 接着为过渡类名添加规则
&.moveUpFade-enter-active, &.moveUpFade-leave-active
    transition all 0.3s ease
&.moveUpFade-enter, &.moveUpFade-leave-active
    opacity 0
&.moveUpFade-enter
    _translate3d(0,-10px)
&.moveUpFade-leave-active
    _translate3d(0,25px)

.g-doc
    background #fff
    .g-bd
        padding-bottom 25px
        _unUserSelect()
        .m-mn-hd
            height 520px
            margin 0 0 25px
            .m-mn-info
                width 510px
                height 100%
                margin-right 25px
                .m-tit
                    max-height 68px
                    line-height 34px
                    font-size 22px
                    font-weight bold
                    margin-bottom 5px
                    _spacingPlus()
                    _ellipsis(2)
                .m-pic
                    height 42px
                    line-height 42px
                    position relative
                    & >*
                        float left
                    .u-txt
                        color #ff6533
                        line-height 32px
                        margin 7px 20px 0 0
                        _spacingPlus()
                        font-size 18px
                    .u-price
                        margin-right 25px
                        line-height 40px
                        color #ff6533
                        font-size 16px
                        .vital
                            font-size 28px
                            font-weight bold
                    .u-del
                        height 28px
                        line-height 28px
                        padding 11px 0 0
                        font-size 13px
                        color #a5a5a5
                        text-decoration line-through
                    .u-lk
                        position absolute
                        right 0
                        top 0
                        &.record i
                            font-size 20px
                            margin-right 5px
                            color #fbad42
                    .u-view
                        _completeCenter(auto,0,0,auto)
                        font-size 18px
                        color #FF6533
                        padding 0 3px 0 25px
                        .iconfont
                            width 24px
                            height 24px
                            line-height 24px
                            text-align center
                            font-size 20px
                            color #FF6533
                            _completeCenter(0,auto,10px,auto)


                .m-des
                    width 510px
                    height 170px
                    padding 5px 0
                    .m-lst-wrap
                        width @width
                        height @height
                        position relative
                        &::before,&::after
                            content ""
                            _display(block)
                            width @width
                            height 1px
                            background #e2e2e2
                            position absolute
                            left 0
                            z-index 99
                        &::before
                            top 50%
                        &::after
                            _display(none)
                            bottom 33.33%
                        .m-des-lst
                            width @width
                            height @height
                            .u-item
                                width 170px
                                height 85px
                                text-align center
                                position relative
                                float left
                                .u-tit
                                    font-size 18px
                                    line-height 32px
                                    margin 16px 0 0
                                .u-des
                                    font-size 12px
                                    line-height 18px
                                    color #a5a5a5
                                &:not(:nth-child(3n))::before
                                    content ""
                                    _display(block)
                                    width 1px
                                    height 42px
                                    background #e2e2e2
                                    position absolute
                                    _verticalLayout(,-1px)
                                    z-index 99
                .m-intro
                    width 100%
                    height 72px
                    margin 14px 0
                    background #e2e2e2
                .m-opra
                    width 100%
                    height 54px
                    position relative
                    .u-btn,.u-btn-a
                        float left
                        text-align center
                    .u-btn
                        height 38px
                        line-height 38px
                        _borderRadius(2px)
                        margin-left 15px
                        font-size 16px
                        _spacingPlus(3px)
                        padding 0 15px
                        color #FFF
                        background #A557FB
                        &:hover
                            background @background - 12%
                        &:active
                            background @background + 2%  
                        &.v2
                            background #795CEC
                            &:hover
                                background @background - 12%
                            &:active
                                background @background + 2%  
                        &.cancel
                            background #f43
                            &:hover
                                background @background - 12%
                            &:active
                                background @background + 2%
                        &.not
                            background #b8b8b8
                            &:hover,&:active
                                background @background
                        &.v3
                            background #FB576D
                            &:hover
                                background @background - 12%
                    .u-btn-a
                        width 135px
                        height 48px
                        line-height 48px
                        margin-top 3px
                        _borderRadius(4px)
                        border 1px solid #e2e2e2
                        font-size 17px
                        color #545454
                        font-weight bold
                        _spacingPlus(1px)
                        .i-phone
                            _display(inline-block)
                            margin-right 25px
                            font-size 18px
                            height 18px
                            position relative
                            &:before
                                content ""
                                _display()
                                width 20px
                                height 25px
                                position absolute
                                left 0
                                background url("../../assets/img/i-tel-icon.png") 0 0 no-repeat
                                background-size 100% 100%
                // 分享
                .m-share
                    width 480px
                    margin 0 0 15px 16px
                    height 32px
                    .u-attr,.share-box
                        _display(inline-block)
                        _verticalTextAlign()
                    .u-attr
                        margin-right 5px
                        color #333
                // 报价，及使用手机看
                .m-offer-mobile
                    width 480px
                    margin 0 0 15px 16px
                    height 36px
                    position relative
                    .m-details-unfold
                        width 140px
                        height @width
                        background #fff
                        _completeCenter(38px,auto,48px,auto)
                        _borderRadius(2px)
                        _borderAll(#d2d2d2)
                        _boxShadow(12px,rgba(0,0,0,.12),-1px,1px)
                        .u-pic
                            width 128px
                            height @width
                            _completeCenter()
                            _imgwrap()
                        .decorate
                            width 32px
                            height @width
                            _opacity(.95)
                            _display()
                            _completeCenter()
                            background url("../../assets/img/logoBg.png") center center no-repeat
                            background-size cover
                            _borderRadius(6px)
                    .u-btn
                        height @height
                        line-height @height
                        _display(inline-block)
                        margin-right 10px
                        _borderRadius(3px)
                        font-size 15px
                        _spacingPlus(2px)
                        $lookBtnBg = #072C4C
                        &.look
                            height @height - 2px
                            line-height @height
                            _borderAll($lookBtnBg)
                            color $lookBtnBg
                            padding 0 40px
                            .icon-erweima3
                                font-size 20px
                                _display(inline-block)
                                _translate3d(,1px)
                            &:hover,&:active
                                color #fff
                            &:hover
                                background $lookBtnBg - 12%
                            &:active
                                background $lookBtnBg + 2%
                        &.offer
                            background #FFB911
                            color #fff
                            padding 0 42px
                            .ico
                                _display(inline-block)
                                _verticalTextAlign(middle)
                                _translate3d(,-1px)
                                width 24px
                                height @width
                                background url('../../assets/img/offer-price-ico.gif') center center no-repeat
                                background-size cover
                                margin-right 2px
                            &:hover
                                background @background - 12%
                            &:active
                                background @background + 2%

                // 投票/评价高低
                .m-vote
                    width 480px
                    height 60px
                    margin 0 0 20px 16px
                    position relative
                    .u-btn
                        width 48px
                        height 48px
                        _display()
                        _borderRadius()
                        &.vote-up
                            _completeCenter(0,auto,10px,auto)
                            background url("../../assets/img/u-vote-up.png") center center no-repeat
                            background-size cover
                            &:hover,&.active
                                background url("../../assets/img/u-vote-up-active.png") center center no-repeat
                                background-size @background-size
                            &:active
                                _opactiy(.8)
                        &.vote-down
                            _completeCenter(auto,0,10px,auto)
                            background url("../../assets/img/u-vote-down.png") center center no-repeat
                            background-size cover
                            &:hover,&.active
                                background url("../../assets/img/u-vote-down-active.png") center center no-repeat
                                background-size @background-size
                            &:active
                                _opactiy(.8)
                    .progress-container
                        margin 0 58px
                        width @width - 58 * 2
                        .top
                            height 18px
                            line-height @height
                            padding-top 10px
                            position relative
                            span
                                font-size 14px
                                font-weight bold
                            .text-lt
                                float left
                                color #ffb911
                            .pk-text
                                text-align center
                                _display()
                                _completeCenter(,,auto,4px)
                                font-size 22px
                                em
                                    font-weight bold
                                    _spacingPlus(-4px)
                                    &.p-txt
                                        color #ffb911
                                    &.k-txt
                                        color #072c4c
                            .text-rt
                                float right
                                color #072c4c
                        .progress-box
                            width @width
                            margin 5px 0
                            height 6px
                            background #f2f2f2
                            _borderRadius(3px)
                            position relative
                            section
                                height @height
                                position relative
                                width 50%
                                _transitionAll(.5s,cubic-bezier(0.31, 0.51, 0.69, 0.94))
                                &.vup-progress
                                    _borderRadiusCustom(3px,0,0,3px)
                                    background #ffb911
                                    _completeCenter(0,auto)
                                    &::before
                                        content ""
                                        display()
                                        width 0
                                        height 0
                                        _border(right,#fff,3px)
                                        _border(bottom,#fff,4px)
                                        _border(left,transparent,3px)
                                        _border(top,transparent,4px)
                                        _completeCenter(auto,0)
                                &.vdown-progress
                                    _borderRadiusCustom(0,3px,3px,0)
                                    background #072c4c
                                    _completeCenter(auto,0)
                                    &::before
                                        content ""
                                        display()
                                        width 0
                                        height 0
                                        _border(right,transparent,3px)
                                        _border(bottom,transparent,4px)
                                        _border(left,#fff,3px)
                                        _border(top,#fff,4px)
                                        _completeCenter(0,auto)
                            .decorate-wrapper
                                _display(none)
                                width @width - 8px
                                height @height
                                position relative
                                .middle-decorate
                                    height @height
                                    width 17px
                                    position absolute
                                    left 0
                                    background url("../../assets/img/u-center-middle.png") center center no-repeat
                                    background-size auto 6px
                                    z-index 2
                                    _translate3d(-8px)
                        .volume
                            height 16px
                            line-height @height
                            span
                                font-size 13px
                            .volume-lt
                                float left
                                color #ffb911
                            .volume-rt
                                float right
                                color #072c4c
        // 车辆基本信息
        .m-basic-info
            .basic-con
                .info-lst
                    width 1200px
                    li
                        float left
                        margin-right 20px
                        font normal 13px/36px "Helvetica Neue","Helvetica","PingFangSC-Regular","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",Arial,sans-serif
                        color #666
                        &.grid-6
                            width 340px
                        &.grid-8
                            width 460px
                        &.grid-20
                            width 1200px
                            margin-right 0
                        .box-tip
                            float left
                            min-width 200px
                            margin-top 14px
                            z-index 100
                            background #fcfcfc
                            _borderAll(#eceef0)
                            position relative
                            .tip-content
                                font-size 14px
                                line-height 30px
                                padding 22px 30px
                                color #666
                                .link-wrap
                                    height 24px
                                    .fold-lk
                                        line-height @height
                                        color $c_blue
                                        _display()
                                        float right
                                &.fold
                                    position relative
                                    .txt
                                        line-height 30px
                                        height 60px
                                        _ellipsis(2)
                                    .unfold
                                        background #fff
                                        line-height 30px
                                        padding-left 20px
                                        _completeCenter(auto,30px,auto,22px)
                                        color $c_blue
                                pre
                                    _display(inline-block)
                                    margin-right 3px
                                    _translate3d(0,-2px)
                            .tip-arrow
                                _display(inline-block)
                                width 18px
                                height 10px
                                _completeCenter(65px,auto,-10px,auto)
                                _overflow()
                                z-index 2
                                background url("../../assets/img/tip-arrow-24.png") 0 0 no-repeat
                                background-position 0 0
        .m-supplement-info
            .supplement-con
                .info-lst
                    width 800px
                    li
                        _display()
                        width 340px
                        margin-right 20px
                        float left
                        font normal 13px/36px "Helvetica Neue","Helvetica","PingFangSC-Regular","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",Arial,sans-serif
                        color #666
        // 车辆信息
        .m-car-info
            height 330px
            margin 0 0 25px
            .m-mn
                height 258px
                width 1100px
                position relative
                margin-left 50px
                .m-basic
                    width 550px
                    .u-tit
                        padding 20px 0 5px
                        height 48px
                        text-align center
                        .txt
                            line-height 38px
                            _display(inline-block)
                            font-size 18px
                            _spacingPlus(2px)
                            position relative
                            &::after
                                content ""
                                _display()
                                height 3px
                                _completeCenter(32px,32px,auto,-2px)
                                background #ff6533
                    .u-con
                        .u-list
                            width 225px
                            margin 0 25px
                            .u-item
                                height 42px
                                line-height 42px
                                span
                                    _display(inline-block)
                                .u-attr
                                    width 90px
                                    color #a5a5a5
                .m-merchant
                    width 550px
                    .m-mct-box
                        width 400px
                        height 220px
                        margin 35px auto 0
                        .m-mct-hd
                            height 90px
                            width 380px
                            padding-left 90px
                            position relative
                            .u-box
                                _display()
                                width @width
                                height @height
                                color #40474a
                            .u-icon
                                width 78px
                                height 78px
                                _completeCenter(0,auto,0,auto)
                                _borderAll(#e2e2e2)
                                _borderRadius()
                                _imgwrap()
                                img
                                    _borderRadius()
                                    width @width - 6px
                                    height @height - 6px
                                    _completeCenter()
                            .u-tit
                                font-size 17px
                                line-height 28px
                                margin 0 0 8px
                                .name
                                    color #40474a
                                    height 28px
                                    max-width 245px
                                    _ellipsis()
                                    &:hover
                                        text-decoration underline
                                .u-prove
                                    margin 0 0 0 5px
                                    height 20px
                                    line-height @height
                                    font-size 12px
                                    text-align center
                                    width 60px
                                    _borderRadius(3px)
                                    _spacingPlus()
                                    background #fbad42
                                    color #f4f4f4
                                    _display(inline-block)
                                    vertical-align middle
                                    _translate3d(0,-3px)
                                    position relative
                            .u-tel,.u-adss
                                font-size 13px
                                line-height 22px
                                color #a5a5a5
                            .u-tel
                                span.name
                                    margin 0 7px 0 0
                                span.onSell
                                    height 20px
                                    line-height @height
                                    _display(inline-block)
                                    margin 0 0 0 7px
                                    padding 0 7px
                                    color #ff6533
                                    _borderRadius(2px)
                                    _spacingPlus()
                                    _translate3d(0,-2px)
                                    _borderAll(#ff6533)

                            .u-attention
                                width 80px
                                text-align left
                                height 22px
                                line-height 22px
                                _completeCenter(250px,auto,32px,auto)
                                padding 0 0 0 28px
                                font-size 13px
                                color #a5a5a5
                                .iconfont
                                    height 28px
                                    line-height 28px
                                    width 28px
                                    text-align center
                                    font-size 24px
                                    _completeCenter(0,auto)
                                    color #FD4B3D

                            .u-adss
                                .tit
                                    margin 0 15px 0 0

                        .u-mct-txt
                            margin-top 4px
                            .tit
                                _display()
                                font-size 14px
                                height 22px
                                line-height 22px
                                margin 0 0 5px
                                color #545454
                                font-weight bold
                                _spacingPlus()
                            .desc
                                font-size 13px
                                line-height 24px
                                height 72px
                                _ellipsis(3)
                                color #a5a5a5
                .u-line-y
                    height 180px
                    width 1px
                    background #e2e2e2
                    _completeCenter(,,55px,auto);
        // 车辆图片
        .m-carPhoto
            .m-photo-con
                width 1200px
                .m-photo-lst
                    width 1218px
                    margin 0 0 0 -18px
                    .m-item
                        width (1200px - 18px) * 0.5 - 2px
                        _borderAll(#e2e2e2)
                        _borderRadius(5px)
                        height 440px
                        margin 0 0 18px 18px
                        position relative
                        float left
                        .u-pic
                            width @width - 16px
                            height @height - 16px
                            _completeCenter()
                            _borderRadius(2px)
                            _overflow()
                            img
                                width @width + 10px
                                height auto
                                _completeCenter(-5px,auto,0,0)
        // 购车流程
        .m-process
            .u-pic
                width 100%
                height 120px
                _imgwrap()

        $mr02 = 68px
        // 众人评车
        .m-comment-car
            .m-speak-con
                padding-bottom 10px
                .put-comment
                    padding 15px 0 0 12px
                    .new-comment
                        margin-left $mr02
                        margin-bottom 25px
                        position relative
                        .avatar
                            width 56px
                            height @width
                            _borderRadius()
                            _completeCenter(-68px,auto,0,auto)
                            _imgwrap()
                            img
                                _borderRadius()
                        textarea
                            _textareaStyle()
                            padding 10px 15px
                            width 800px - $mr02 - 30px - 2px
                            height 80px - 20px
                            font-size 14px
                        .write-function-box
                            width 800px - $mr02
                            padding 12px 0 0
                            height 30px
                            line-height @height
                            .tips
                                color #959595
                                font-size 13px
                                float left
                                em
                                    margin-right 15px
                            .u-btn
                                float right
                                font-size 16px
                                &.okay
                                    text-align center
                                    padding 0 20px
                                    border none
                                    _borderRadius(20px)
                                    background #3EDA26
                                    color #fff
                                    _display(inline-block)
                                    _verticalTextAlign(bottom)
                                    &:hover
                                        background @background - 7%
                                    &:active
                                        background @background + 5%
                                &.cancel
                                    margin-right 25px
                                    color #959595
                $comment_list_width =880px
                .comment-container
                    width $comment_list_width
                    margin-left 12px
                    .top
                        padding-bottom 10px
                        height 24px
                        line-height @height
                        _border(bottom,#e2e2e2)
                        position relative
                        span
                            font-weight bold
                            color #333
                            font-size 15px
                            font-family 'Microsoft Yahei'
                        .show-comment-btn
                            height 24px
                            line-height @height
                            _completeCenter(auto,8px,0,auto)
                            color #959595
                            font-size 13px
                            .iconfont
                                _display(inline-block)
                                _translate3d(0,2px)
                                font-size 18px
                                margin-right 4px
                            &:hover
                                color #333
                    .comment-lst
                        padding-top 10px
                        .comment-item
                            margin-bottom 15px
                            padding 15px 0
                            _border(bottom,#e2e2e2)
                            .comment-main
                                .author
                                    height 42px
                                    width $comment_list_width
                                    position relative
                                    .avatar
                                        width 42px
                                        height 42px
                                        _completeCenter(0,auto,0,auto)
                                        _borderRadius()
                                        _imgwrap()
                                        img
                                            _borderRadius()
                                    .info
                                        height @height
                                        padding-left 56px
                                        width @width - 56px
                                        .name
                                            _textLineHeigth(22px)
                                            font-size 15px
                                            color #333
                                        .time
                                            padding-top 2px
                                            _textLineHeigth(18px)
                                            font-size 12px
                                            color #959595
                                .info-wrap
                                    .speak
                                        font-size 16px
                                        margin 10px 0
                                        line-height 24px
                                        color #222
                                    .tool-group
                                        height 24px
                                        line-height 24px
                                        color #959595
                                        padding-left 8px
                                        position relative
                                        font-size 13px
                                        .u-lk
                                            float left
                                            margin-right 18px
                                            .iconfont
                                                font-size 18px
                                                _display(inline-block)
                                            &:hover
                                                color #333
                                            &.like
                                                .iconfont
                                                    font-size 20px
                                                    _translate3d(1px,1px)
                                                &:hover,&.active
                                                    color #333
                                                    .iconfont
                                                        color #ff6533
                                            &.reply
                                                .iconfont
                                                    font-size 18px
                                                    _translate3d(0,3px)
                                                    margin-right 3px
                                            &.delete
                                                margin-left 20px
                                                _display(none)
                                                &:hover
                                                    color #f43
                                        &:hover
                                            .delete
                                                _display()
                            .sub-comment-lst
                                margin-top 20px
                                padding 5px 0 5px 20px
                                border-left 2px solid #c2c2c2
                                .sub-comment-item
                                    margin-bottom 10px
                                    padding-bottom 10px
                                    border-bottom 1px dashed #e2e2e2
                                    color #555
                                    .info
                                        margin 0 0 6px
                                        font-size 14px
                                        line-height 22px
                                        .author-name
                                            color #3194d0
                                    .sub-tool-group
                                        width 100%
                                        font-size 12px
                                        height 18px
                                        line-height @height
                                        color #959595
                                        position relative
                                        .sub-reply
                                            margin-left 20px
                                            .iconfont
                                                _display(inline-block)
                                                font-size 16px
                                                _translate3d(0,2px)
                                                margin-right 3px
                                            &:hover
                                                color #333
                                                .iconfont
                                                    color #333
                                        .delete
                                            margin-left 20px
                                            _display(none)
                                            &:hover
                                                color #f43
                                        &:hover
                                            .delete
                                                _display(inline-block)
                                .more-comment
                                    height 24px
                                    .add-comment-btn
                                        height @height
                                        line-height @height
                                        color #959595
                                        font-size 13px
                                        &:hover
                                            color #333
                                        .iconfont
                                            font-size 20px
                                            _display(inline-block)
                                            _translate3d(0,2px)
                                            margin-right 3px
                                            &.pack-up
                                                margin-right 1px

                                .sub-new-comment
                                    padding 22px 0 0
                                    textarea
                                        _textareaStyle()
                                        padding 10px 15px
                                        width 800px - $mr02 - 30px - 2px
                                        height 80px - 20px
                                        font-size 14px
                                    .write-function-box
                                        width 800px - $mr02
                                        padding 12px 0 0
                                        height 30px
                                        line-height @height
                                        .tips
                                            color #959595
                                            font-size 13px
                                            float left
                                            em
                                                margin-right 15px
                                        .u-btn
                                            float right
                                            font-size 16px
                                            &.okay
                                                text-align center
                                                padding 0 20px
                                                border none
                                                _borderRadius(20px)
                                                background #3EDA26
                                                color #fff
                                                _display(inline-block)
                                                _verticalTextAlign(bottom)
                                                &:hover
                                                    background @background - 7%
                                                &:active
                                                    background @background + 5%
                                            &.cancel
                                                margin-right 25px
                                                color #959595
                    .pagination
                        padding 15px 0 0
                        .el-page
                            text-align center
                    .no-data,.tips-show
                        margin-top 15px
                        height 22px
                        line-height @height
                        color #959595
        // 店铺在售车源
        .m-selling-car
            .m-box-hd
                position relative
                .view-more
                    height 26px - 2px
                    line-height @height
                    _completeCenter(auto,0)
                    padding 0 12px
                    _borderAll(#e2e2e2)
                    _borderRadius(14px)
                    color #666
                    &:hover
                        color #222
                        _borderAll(#222)
        //车商信息/店铺信息
        .m-dealer
            .store-info
                min-height 100px
                padding 30px 0 10px 0
                .u-info-lt,.u-info-rt
                    float left
                .u-info-lt
                    width 500px
                    margin-right 20px
                    position relative
                    .store-pic
                        width 100px
                        height @width
                        _completeCenter(12px,auto,0,auto)
                        _imgwrap()
                        img
                            _borderRadius(12px)
                    .store-basic
                        padding-left 132px
                        color #666
                        .line-tit
                            height 28px
                            margin-bottom 3px
                            .name
                                font-size 17px
                        .line-box
                            height 28px
                            font-size 14px
                            .vital
                                font-size 24px
                                margin-right 4px
                            .separated
                                color #e2e2e2
                                margin 0 5px
                            &.btnWrap
                                margin-top 12px
                            .u-btn
                                _display(inline-block)
                                height 28px
                                line-height @height
                                padding 0 13px
                                _spacingPlus()
                                _borderRadius(3px)
                                background $c_blue
                                color #f2f2f2
                                &:hover
                                    background @background - 15%
                                &:active
                                    background @background - 5%
                            .u-collect
                                margin-left 10px
                                _display(inline-block)
                                height 28px - 2px
                                line-height @height
                                padding 0 13px
                                _spacingPlus()
                                _borderRadius(3px)
                                background #fff
                                _borderAll(#e2e2e2)
                                color #666
                                &:hover
                                    background @background - 15%
                                &:active
                                    background @background - 5%
                                &.cancel
                                    border none
                                    height 28px
                                    line-height @height
                                    background #f43
                                    color #f2f2f2
                                    &:hover
                                        background @background - 15%
                                    &:active
                                        background @background - 5%
                .u-info-rt
                    width 500px
                    color #666
                    ul li
                        width 100%
                        height 28px
                        line-height @height
                        margin-bottom 4px
                        position relative
                        .adorn
                            width 4px
                            height @width
                            _completeCenter(0,auto)
                            background #999
                        .attr
                            padding-left 15px
                            margin-right 8px
                        .attr,.data
                            float left
                        .data:not(.desc)
                            _ellipsis()
                        &.desc
                            .attr
                                width 78px
                                margin-right 0
                            .data
                                _ellipsis(3)
                                float right
                                width 500px - 78px - 15px 
        // 相似推荐
        .m-remd
            margin-bottom 15px
            .m-lst-gp-b
                height 270px
                width 1200px

        .box-header
            height 58px
            line-height @height
            position relative
            margin-top 15px
            .icon-block
                _display()
                width 6px
                height @width
                background $c_blue
                _completeCenter(0,auto,25px,auto)
            h3
                _display(inline-block)
                padding-left 20px
                font-size 20px
                color #333
                font-weight normal

        .m-box-hd,.m-other-hd
            height 48px
            line-height @height
            margin-top 15px
            _border(bottom,#e2e2e2)
            h4
                _display(inline-block)
                font-size 18px
                color #333
                font-weight normal
                padding 0 12px
                position relative
                &::before
                    content ""
                    height 2px
                    _completeCenter(,,auto,-1px)
                    background $c_blue


