@import '~assets/css/mixin.styl'

.bg-test
    background #e2e2e2

.g-doc
    background #fff
    .g-bd
        padding-bottom 25px
        _unUserSelect()
        .m-mn-hd
            height 520px
            margin 0 0 25px
            .m-mn-info
                width 510px
                height 100%
                margin-right 25px
                .m-tit
                    max-height 68px
                    line-height 34px
                    font-size 22px
                    font-weight bold
                    margin-bottom 5px
                    _spacingPlus()
                    _ellipsis(2)
                .m-pic
                    height 42px
                    line-height 42px
                    position relative
                    & >*
                        float left
                    .u-txt
                        color #ff6533
                        line-height 32px
                        margin 7px 20px 0 0
                        _spacingPlus()
                        font-size 18px
                    .u-price
                        margin-right 25px
                        line-height 40px
                        color #ff6533
                        font-size 16px
                        .vital                            
                            font-size 28px
                            font-weight bold
                    .u-del
                        height 28px
                        line-height 28px
                        padding 11px 0 0
                        font-size 13px
                        color #a5a5a5
                        text-decoration line-through
                    .u-lk
                        position absolute
                        right 0
                        top 0
                        &.record i
                            font-size 20px
                            margin-right 5px
                            color #fbad42
                    .u-view
                        _completeCenter(auto,0,0,auto)
                        font-size 18px
                        color #FF6533
                        padding 0 3px 0 25px
                        .iconfont
                            width 24px
                            height 24px
                            line-height 24px
                            text-align center
                            font-size 20px
                            color #FF6533
                            _completeCenter(0,auto,10px,auto)


                .m-des
                    width 510px
                    height 170px
                    padding 15px 0
                    .m-lst-wrap
                        width @width
                        height @height
                        position relative
                        &::before,&::after
                            content ""
                            _display(block)
                            width @width
                            height 1px
                            background #e2e2e2
                            position absolute
                            left 0
                            z-index 99
                        &::before
                            top 50%
                        &::after
                            _display(none)
                            bottom 33.33%
                        .m-des-lst
                            width @width
                            height @height
                            .u-item
                                width 170px
                                height 85px
                                text-align center
                                position relative
                                float left
                                .u-tit
                                    font-size 18px
                                    line-height 32px
                                    margin 16px 0 0
                                .u-des
                                    font-size 12px
                                    line-height 18px
                                    color #a5a5a5
                                &:not(:nth-child(3n))::before
                                    content ""
                                    _display(block)
                                    width 1px
                                    height 42px
                                    background #e2e2e2
                                    position absolute
                                    _verticalLayout(,-1px)
                                    z-index 99
                .m-intro
                    width 100%
                    height 72px
                    margin 14px 0
                    background #e2e2e2
                .m-opra
                    width 100%
                    height 54px
                    position relative
                    .u-btn,.u-btn-a
                        float left
                        text-align center
                    .u-btn
                        height 38px
                        line-height 38px
                        _borderRadius(2px)
                        margin-left 15px
                        font-size 16px
                        _spacingPlus(3px)
                        padding 0 15px
                        color #FFF
                        background #39D485
                        &:hover
                            background @background - 12%
                        &:active
                            background @background + 2%  
                        &.v2
                            background #ff6533
                            &:hover
                                background @background - 12%
                            &:active
                                background @background + 2%  
                        &.cancel
                            background #f43
                            &:hover
                                background @background - 12%
                            &:active
                                background @background + 2%
                        &.not
                            background #b8b8b8
                            &:hover,&:active
                                background @background
                        &.v3
                            background $c_blue
                            &:hover
                                background @background - 12%
                    .u-btn-a
                        width 135px
                        height 48px
                        line-height 48px
                        margin-top 3px
                        _borderRadius(4px)
                        border 1px solid #e2e2e2
                        font-size 17px
                        color #545454
                        font-weight bold
                        _spacingPlus(1px)
                        .i-phone
                            _display(inline-block)
                            margin-right 25px
                            font-size 18px
                            height 18px
                            position relative
                            &:before
                                content ""
                                _display()
                                width 20px
                                height 25px
                                position absolute
                                left 0
                                background url("../../assets/img/i-tel-icon.png") 0 0 no-repeat
                                background-size 100% 100%
                .m-share
                    width 480px
                    margin 0 0 0 16px
                    height 60px
                .m-collect
                    margin-top 15px
                    height 32px
                    line-height 32px
                    .u-lk
                        margin-right 20px
                        &:hover
                            color #ff6533
                        .iconfont
                            font-size 18px
                            margin-right 4px
                            color #ff6533
        .m-basic-info
            .basic-con
                .info-lst
                    width 1200px
                    li
                        float left
                        margin-right 20px
                        font normal 13px/36px "Helvetica Neue","Helvetica","PingFangSC-Regular","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",Arial,sans-serif
                        color #666
                        &.grid-6
                            width 340px
                        &.grid-8
                            width 460px
                        &.grid-20
                            width 1200px
                            margin-right 0
                        .box-tip
                            float left
                            min-width 200px
                            margin-top 14px
                            z-index 100
                            background #fcfcfc
                            _borderAll(#eceef0)
                            position relative
                            .tip-content
                                font-size 14px
                                line-height 30px
                                padding 22px 30px
                                color #666
                            .tip-arrow
                                _display(inline-block)
                                width 18px
                                height 10px
                                _completeCenter(65px,auto,-10px,auto)
                                _overflow()
                                z-index 2
                                background url("../../assets/img/tip-arrow-24.png") 0 0 no-repeat
                                background-position 0 0
        // 车辆信息
        .m-car-info
            height 330px
            margin 0 0 25px
            .m-mn
                height 258px
                width 1100px
                position relative
                margin-left 50px
                .m-basic
                    width 550px
                    .u-tit
                        padding 20px 0 5px
                        height 48px
                        text-align center
                        .txt
                            line-height 38px
                            _display(inline-block)
                            font-size 18px
                            _spacingPlus(2px)
                            position relative
                            &::after
                                content ""
                                _display()
                                height 3px
                                _completeCenter(32px,32px,auto,-2px)
                                background #ff6533
                    .u-con
                        .u-list
                            width 225px
                            margin 0 25px
                            .u-item
                                height 42px
                                line-height 42px
                                span
                                    _display(inline-block)
                                .u-attr
                                    width 90px
                                    color #a5a5a5
                .m-merchant
                    width 550px
                    .m-mct-box
                        width 400px
                        height 220px
                        margin 35px auto 0
                        .m-mct-hd
                            height 90px
                            width 380px
                            padding-left 90px
                            position relative
                            .u-box
                                _display()
                                width @width
                                height @height
                                color #40474a
                            .u-icon
                                width 78px
                                height 78px
                                _completeCenter(0,auto,0,auto)
                                _borderAll(#e2e2e2)
                                _borderRadius()
                                _imgwrap()
                                img 
                                    _borderRadius()
                                    width @width - 6px
                                    height @height - 6px
                                    _completeCenter()
                            .u-tit
                                font-size 17px
                                line-height 28px
                                margin 0 0 8px
                                .name
                                    color #40474a
                                    height 28px
                                    max-width 245px
                                    _ellipsis()
                                    &:hover
                                        text-decoration underline
                                .u-prove
                                    margin 0 0 0 5px
                                    height 20px
                                    line-height @height
                                    font-size 12px
                                    text-align center
                                    width 60px
                                    _borderRadius(3px)
                                    _spacingPlus()
                                    background #fbad42
                                    color #f4f4f4
                                    _display(inline-block)
                                    vertical-align middle
                                    _translate3d(0,-3px)
                                    position relative
                            .u-tel,.u-adss
                                font-size 13px
                                line-height 22px
                                color #a5a5a5
                            .u-tel
                                span.name
                                    margin 0 7px 0 0 
                                span.onSell
                                    height 20px
                                    line-height @height
                                    _display(inline-block)
                                    margin 0 0 0 7px
                                    padding 0 7px
                                    color #ff6533
                                    _borderRadius(2px)
                                    _spacingPlus()
                                    _translate3d(0,-2px)
                                    _borderAll(#ff6533)

                            .u-attention
                                width 80px
                                text-align left
                                height 22px
                                line-height 22px
                                _completeCenter(250px,auto,32px,auto)
                                padding 0 0 0 28px
                                font-size 13px
                                color #a5a5a5
                                .iconfont
                                    height 28px
                                    line-height 28px
                                    width 28px
                                    text-align center
                                    font-size 24px
                                    _completeCenter(0,auto)
                                    color #FD4B3D

                            .u-adss
                                .tit
                                    margin 0 15px 0 0

                        .u-mct-txt
                            margin-top 4px
                            .tit
                                _display()
                                font-size 14px
                                height 22px
                                line-height 22px
                                margin 0 0 5px
                                color #545454
                                font-weight bold
                                _spacingPlus()
                            .desc
                                font-size 13px
                                line-height 24px
                                height 72px
                                _ellipsis(3)
                                color #a5a5a5
                .u-line-y
                    height 180px
                    width 1px
                    background #e2e2e2
                    _completeCenter(,,55px,auto);
        // 车辆图片
        .m-carPhoto
            .m-photo-con
                width 1200px
                .m-photo-lst
                    width 1218px
                    margin 0 0 0 -18px
                    .m-item
                        width (1200px - 18px) * 0.5 - 2px
                        _borderAll(#e2e2e2)
                        _borderRadius(5px)
                        height 440px
                        margin 0 0 18px 18px
                        position relative
                        float left
                        .u-pic
                            width @width - 16px
                            height @height - 16px
                            _completeCenter()
                            _borderRadius(2px)
                            _overflow()
                            img
                                width @width + 10px
                                height auto
                                _completeCenter(-5px,auto,0,0)
        // 购车流程
        .m-process
            .u-pic
                width 100%
                height 120px
                _imgwrap()

        //车商信息/店铺信息
        .m-dealer
            .store-info
                min-height 100px
                padding 30px 0 10px 0 
                .u-info-lt,.u-info-rt
                    float left
                .u-info-lt
                    width 500px
                    margin-right 20px
                    position relative
                    .store-pic
                        width 100px
                        height @width
                        _completeCenter(12px,auto,0,auto)
                        _imgwrap()
                        img
                            _borderRadius(12px)
                    .store-basic
                        padding-left 132px
                        color #666
                        .line-tit
                            height 28px
                            margin-bottom 3px
                            .name
                                font-size 17px
                        .line-box
                            height 28px
                            font-size 14px
                            .vital
                                font-size 24px
                                margin-right 4px
                            .separated
                                color #e2e2e2
                                margin 0 5px
                            &.btnWrap
                                margin-top 12px
                            .u-btn
                                _display(inline-block)
                                height 28px
                                line-height @height
                                padding 0 13px
                                _spacingPlus()
                                _borderRadius(3px)
                                background $c_blue
                                color #f2f2f2
                                &:hover
                                    background @background - 15%
                                &:active
                                    background @background - 5%
                            .u-collect
                                margin-left 10px
                                _display(inline-block)
                                height 28px - 2px
                                line-height @height
                                padding 0 13px
                                _spacingPlus()
                                _borderRadius(3px)
                                background #fff
                                _borderAll(#e2e2e2)
                                color #666
                                &:hover
                                    background @background - 15%
                                &:active
                                    background @background - 5%
                                &.cancel
                                    border none
                                    height 28px
                                    line-height @height
                                    background #f43
                                    color #f2f2f2
                                    &:hover
                                        background @background - 15%
                                    &:active
                                        background @background - 5%
                .u-info-rt
                    width 500px
                    color #666
                    ul li
                        width 100%
                        height 28px
                        line-height @height
                        margin-bottom 4px
                        position relative
                        .adorn
                            width 4px
                            height @width
                            _completeCenter(0,auto)
                            background #999
                        .attr
                            padding-left 15px
                            margin-right 8px
                        .attr,.data
                            float left
                        .data:not(.desc)
                            _ellipsis()
                        &.desc
                            .attr
                                width 78px
                                margin-right 0
                            .data
                                _ellipsis(3)
                                float right
                                width 500px - 78px - 15px 
        // 相似推荐
        .m-remd
            margin-bottom 15px
            .m-lst-gp-b
                height 270px
                width 1200px

        .box-header
            height 58px
            line-height @height
            position relative
            margin-top 15px
            .icon-block
                _display()
                width 6px
                height @width
                background $c_blue
                _completeCenter(0,auto,25px,auto)
            h3
                _display(inline-block)
                padding-left 20px
                font-size 20px
                color #333
                font-weight normal

        .m-box-hd,.m-other-hd
            height 48px
            line-height @height
            margin-top 15px
            _border(bottom,#e2e2e2)
            h4
                _display(inline-block)
                font-size 18px
                color #333
                font-weight normal
                padding 0 12px
                position relative
                &::before
                    content ""
                    height 2px
                    _completeCenter(,,auto,-1px)
                    background $c_blue


