@import '../../../assets/css/mixin.styl'

.g-mn-con
    width 1020px
    background #fff
    .m-hd
        height 48px
        line-height 48px
        font-size 18px
        padding 0 12px
        _spacingPlus(3px)
        background #e2e2e2
        margin-bottom 20px
        .u-tit
            color #313536
    .m-tap
        margin-bottom 20px
        .m-tap-lst
            height 38px
            line-height 38px
            .u-tap-item
                float left
                _display()
                width 130px
                text-align center
                line-height 36px
                _spacingPlus()
                color $c_blue
                border 1px solid $c_blue
                border-right none
                &:last-child
                    border-right 1px solid $c_blue
                &.on
                    background $c_blue
                    color #f4f4f4
                .u-lk
                    _display()
                    cursor pointer
    

    .m-mn-wrap
        .m-merchant-wrap
            width 1020px
            .m-list
                .m-item
                    _borderAll(#e2e2e2)
                    _borderRadius(2px)
                    .m-mct-info
                        width 266px
                        height 285px
                        position relative
                        padding 18px 0 2px 14px
                        .m-face
                            width 60px
                            height 60px
                            _borderRadius()
                            margin-top 10px
                            img
                                width @width
                                height @height
                                _borderRadius()
                        .m-info-mn
                            width 192px
                            color #545454
                            .u-tit
                                width 150px
                                max-height 48px
                                line-height 24px
                                color #313536
                                font-size 16px
                                _spacingPlus()
                                margin 0 0 4px
                                _ellipsis(2)
                            .u-star
                                padding 10px 0
                                line-height 22px
                                height 22px
                                _rmGap(-2px)
                                .iconfont
                                    font-size 15px
                                    color $c_yellow
                            .u-succeed
                                line-height 24px
                                height 24px
                                color #545454
                                font-size 13px
                                margin-bottom 15px
                                .vital
                                    color #f43
                                    margin 0 3px
                            .u-txt
                                line-height 22px
                                height 22px
                                color #777
                                margin-bottom 4px

                        .u-rm
                            _completeCenter(auto,5px,25px,auto)
                            width 38px
                            _display()
                            text-align center
                            height 38px
                            line-height 38px
                            cursor pointer
                            _borderRadius()
                            _transitionAll(.15s,cubic-bezier(0.04, 0.65, 0.65, 0.92))
                            .iconfont
                                font-size 22px
                                color #777
                                cursor pointer
                            &:hover
                                background #ededed
                                .iconfont
                                	color #f34

                    .m-mct-con
                        width 720px
                        position relative
                        .m-tap-opts
                            margin 18px 0
                            .m-tap-lst
                                height 32px
                                .u-tap-item
                                    height 30px
                                    line-height 30px
                                    _borderAll(#c5c5c5)
                                    color #545454
                                    padding 0 12px
                                    margin-right 13px
                                    _borderRadius(3px)
                                    float left
                                    cursor pointer
                                    &.on
                                        color $c_blue
                                        _borderAll($c_blue)
                        .m-car-wrap
                            margin-bottom 20px
                            .m-car-lst
                                .m-car-item
                                    float left
                                    margin-right 13px
                                    width 205px
                                    height 215px
                                    _boxShadow(12px,rgba(0,0,0,.15))
                                    _transitionAll(.2s)
                                    overflow hidden
                                    .u-lk
                                        _display()
                                    .u-pic
                                        width 205px
                                        height 125px
                                        img
                                            width 100%
                                            height 100%
                                    .u-con
                                        padding 5px 10px
                                        .u-tit
                                            line-height 22px
                                            height 44px
                                            font-size 14px
                                            color #313536
                                            _ellipsis(2)
                                        .u-price
                                            margin-top 5px
                                            height 28px
                                            line-height 28px
                                            color #777
                                            .price
                                                font-size 18px
                                                color #f43
                                    &:hover
                                        _transitionAll(.3s,cubic-bezier(0.04, 0.65, 0.65, 0.92))
                                        _translate3d(,-3px);
                                        _boxShadow(20px,rgba(0,0,0,.15),1px,10px)


                        .u-more
                            width 84px
                            height 30px
                            line-height 30px
                            text-align right
                            color #545454
                            _completeCenter(auto,20px,15px,auto)
                            .iconfont
                                _display(inline-block)
                                _translate3d(0,1px)
                                color #959595
                            &:hover
                                color $c_blue
                                .iconfont
                                    color @color
