@import '~assets/css/mixin.styl'

.g-bd
    width 100%
    padding 22px 0 35px  
    .m-about
        .m-aside-wrap
            width 210px
        .m-mn
            width 970px - 40px
            min-height 700px
            background #fff
            _borderAll(#ededed)
            padding 0 20px







