@import '~assets/css/mixin.styl'

.g-bd
    width 100%
    padding 0 0 35px
    .m-about
        padding 8px 0 0
        .m-aside-wrap
            width 210px
        .m-mn
            width 970px - 40px
            min-height 700px
            background #fff
            _borderAll(#ededed)
            padding 0 20px





