@import '~assets/css/mixin.styl'

.m-about-box
    .u-hd-attr
        height 24px
        line-height @height
        font-size 16px
        margin 0 0 10px
    .m-tap-choose
        margin 0 0 15px
        .u-item
            float left
            height 32px
            line-height @height
            padding 0 20px
            margin 0 12px 0 0
            color #666
            font-size 14px
            _spacingPlus()
            _borderAll(#d2d2d2)
            _borderRadius(3px)
            cursor pointer
            &.on
                _borderAll($c_blue)
                color $c_blue
    .u-iptText-box
        width 680px
        position relative
        margin 0 0 15px
        .ipt
            width @width - 24px
            height 120px
            _borderAll(#d2d2d2)
            _borderRadius(3px)
            padding 12px
            font-family "Microsoft Yahei UI", "Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1", "Segoe UI", "Tahoma", "SimSun", "sans-serif"
        .tips
            text-align right
            height 20px
            line-height @height
            font-size 13px
            color #a5a5a5
            _completeCenter(auto,12px,auto,8px)
    .contact-type
        height 28px
        margin 0 0 20px
        .u-attr,.u-radio-box
            height @height
            line-height @height
            _display(inline-block)
        .u-attr
            margin 0 20px 0 0
        .u-radio-box
            height 24px
    .multiUpload-box
        margin 0 0 20px
    .item-error
        height 28px
        line-height 30px
        width 280px
        margin 0 0 12px
        background #FBEBE6
        _borderAll(#ff6533)
        _borderRadius(1px)
        color #777
        font-size 12px
        .error-txt
            margin-left 10px
            position relative
            height 30px
            line-height 30px
            padding-left 22px
            _overflow()
            .iconfont
                width 20px
                height 20px
                line-height 20px
                font-size 18px
                color #ff6533
                _completeCenter(0,auto)
    .contact-number
        height 40px
        margin 0 0 18px
        .u-ipt
            height @height
            width 450px - 24px
            padding 0 12px
            _borderAll(#d2d2d2)
            _borderRadius(3px)
    .u-btn.submit
        width 225px
        height 40px
        border none
        background $c_blue
        _borderRadius(3px)
        color #f2f2f2
        font-size 15px
        _spacingPlus(3px)






