@import '~assets/css/mixin.styl'

.m-pay-deposit
    .m-tip
        height 60px
        line-height 60px
        font-size 16px
        font-weight bold
        _spacingPlus()
        _border(bottom,#e2e2e2)
        .u-time
            color $c_blue
            margin 0 2px
    .m-order-box
        height 128px
        background #f4f8fa
        margin 15px 0
        position relative
        .m-price
            width 230px
            height 72px
            line-height 72px
            font-size 16px
            margin 28px 15px 0 15px
            _border(right,#e2e2e2)
            text-align center
            .vital
                font-size 18px
                font-weight bold
                color #ff6533
        .m-info
            width 905px
            height 72px
            margin 28px 20px 0 0
            position relative
            .m-con-box
                width 750px
                height @height
	            .u-pic
	                width 120px
	                height 72px
	                _imgwrap()
	                img
	                    _borderRadius(2px)
	            .u-con
	                width 615px
	                height 72px
	                margin-left 15px
	                .u-tit
		                width 100%
		                height 28px
		                line-height 28px
		                font-size 15px
		                _ellipsis()
		            .u-info 
		                height 22px
		                line-height 22px
		                margin-top 8px
		                color #777
		                .u-nub
		                    font-size 13px
		                    margin-right 5px
		                    padding-right 10px
		                    position relative
		                    &:not(:last-child)::after
		                        _completeCenter(auto,0)
		                        content ""
		                        _display()
		                        width 1px
		                        height 10px
		                        background #a5a5a5

            .u-price
                height 72px
                line-height 72px
                position absolute
                right 0
                top 0
                .vital
                    color #ff6533
                    font-size 16px
                    font-weight bold
                    margin-left 4px


    .m-pay-choose
        .m-bank,.m-ohter
            _borderAll(#ededed)
            _borderRadius(3px)
            &:hover
                _boxShadow(15px,rgba(0,0,0,.12),2px,2px)
            .u-hd
                height 48px
                line-height 48px
                padding 0 15px
                color #545454
            .m-lst-box
                min-height 72px
                padding 0 25px
                margin 0 0 15px 0
                cursor pointer
                img
                    cursor pointer
                .iconfont
                    width 22px
                    text-align center
                    height 22px
                    line-height 22px
                    font-size 20px
                    color #a5a5a5
                    cursor pointer
                    _completeCenter(0,auto)
                    &.on
                        color $c_blue
        .m-bank
            margin-bottom 15px
            .m-bankcard-lst
                .u-item
                    float left
                    width 210px
                    height 72px
                    padding-left 30px
                    position relative
                    &:not(:nth-child(4n))
                        margin-right 25px
                    img
                        height 50px
                        width 180px
                        margin-top 11px
        .m-ohter
            .m-other-lst
                .u-item
                    float left
                    width 210px
                    height 72px
                    padding-left 30px
                    position relative
                    &:not(:nth-child(4n))
                        margin-right 25px
                    img
                        height 48px
                        width auto
                        margin 12px 0 0 15px

    .m-btn-box
        height 44px
        margin 20px 0 40px
        .u-btn
            width 150px
            _borderRadius(3px)
            color #f4f4f4
            background $c_blue
            line-height @height
            height @height
            text-align center
            font-size 16px
            _spacingPlus(3px)


