@import '~assets/css/mixin.styl'


.m-source-con
    .m-tab-box
        height 32px
        margin 10px 0 0 0
        padding 0 0 12px 0
        _border(bottom,#f0f0f0)
        .u-tab-lk
            _display()
            float left
            padding 0 16px
            height @height - 2px
            line-height @height
            color #40474a
            _borderAll(#e2e2e2)
            font-size 14px
            _borderRadius(6px)
            margin 0 12px 0 0
            text-align center
            _spacingPlus(3px)
            &.on
                background #2f98e2
                color #f0f0f0
                _borderAll(#2f98e2)
            &:not(.on):hover
                _borderAll(#2f98e2)
                color #2f98e2

