@import '~assets/css/mixin.styl'

.bg-test
    background #e2e2e2

.el-dropdown-menu
    padding 4px 0
    margin-top 8px
    _borderRadius(3px)
    .el-dropdown-menu__item
        line-height 32px
        &:not(.is-disabled):hover
            background-color #E9F0F5
            color #0479CC

.g-doc
    background #fff
    .g-bd
        padding-bottom 25px
        .m-sch-wrap
            width 500px
            height 42px
            margin 0 0 0 700px
            padding 8px 0
            position relative
            margin-top -28px
            .m-sch
                height 40px
                width 360px
                border 1px solid #e2e2e2
                position relative
                .m-srh-result-box
                    width 320px
                    background #fff
                    _borderAll(#e2e2e2)
                    _borderRadius(4px)
                    _boxShadow(8px,rgba(0,0,0,.08),1px,1px)
                    position absolute
                    top 45px
                    left 0
                    z-index 99
                    background #fff
                .u-sch-ipt,.u-sch-btn
                    _display(block)
                    float left
                .u-sch-ipt
                    width 294px
                    height 40px
                    border none
                    padding 0 12px
                    font-size 15px
                .u-sch-btn
                    width 42px
                    height 42px
                    border none
                    _border(left,#e2e2e2)
                    background $c_blue
                    position absolute
                    top -1px
                    right -1px
                    cursor pointer
                    i
                        font-size 24px
                        color #f2f2f2
                        cursor @cursor

        .m-select-filter
            margin 10px 0 20px
            .m-sel-gp
                min-height 44px
                line-height 44px
                position relative
                .m-gp-tit,.m-sel-lk-box
                    float left
                .m-gp-tit
                    width 60px
                    margin-right 12px
                    text-align right
                    _display(block)
                    color #959595
                    _spacingPlus()
                .m-sel-lk-box
                    .m-info
                        min-height 44px
                        .m-lk-list,.m-other-price
                            float left
                        .m-lk-list
                            max-width 950px
                            overflow hidden
                            height 28px
                            margin-top 8px
                            &.no-overflow
                                overflow inherit
                            &.other
                                width 1100px
                                max-width 1100px
                                height 36px
                                line-height 36px

                            .u-item
                                float left
                                height 28px
                                line-height 28px
                                margin-right 10px
                                margin-bottom 8px
                                _display(block)
                                .u-lk
                                    padding 0 7px
                                    height 28px
                                    _display()
                                    _borderRadius(2px)
                                    color #545454
                                    &:hover
                                        color $c_blue
                                &.on
                                    .u-lk
                                        background #2e98e2
                                        color #f4f4f4
                                        &:hover
                                            color @color
                                .el-select
                                    width 110px
                                    height 30px
                                    .el-input__inner
                                        height 30px
                                        _borderRadius(2px)
                                        line-height 30px
                                        color $c_blue
                                        _borderAll(#d8d8d8)
                                        _placeholder(#959595)
                                    .el-input__icon
                                        color #959595
                                        font-size 13px
                        .m-other-price
                            height 30px
                            margin-top 7px
                            margin-left 25px
                            & >*
                                float left
                            .m-price
                                height 28px
                                line-height 28px
                                _borderRadius(2px)
                                border 1px solid #d8d8d8
                                padding  0 8px
                                position relative
                                &.focus
                                    _borderAll($c_blue)
                                    color $c_blue
                                .u-price-ipt
                                    height 28px
                                    width 70px
                                    color $c_blue
                                    _borderAll(#d8d8d8)
                                    _placeholder(#959595)
                                    border none
                                    vertical-align top

                            .u-connect
                                line-height 30px
                                margin 0 6px
                            .u-btn
                                margin-left 12px
                                height 30px
                                border none
                                background #2e98e2
                                color #f4f4f4
                                _borderRadius(3px)
                                padding 0 15px
                                _spacingPlus(2px)
                                vertical-align middle
                    .m-info-cld
                        min-height 50px
                        width 1100px
                        margin 5px 5px 10px
                        _borderAll(#e2e2e2)
                        _borderRadius(2px)        
                .u-more
                    position absolute
                    right 0
                    top 0
                    font-size 13px
                    color #959595
                    margin-right 8px
                    _transitionAll(.1s)
                    .iconfont
                        font-size 14px
                        color #959595
                        margin-left 2px
                        _display(inline-block)
                        _transformOrigin(,47.5%)
                    &:hover
                        color $c_blue
                        .iconfont
                            color @color
                    &.on
                        color $c_blue
                        .iconfont
                            color @color
                            _rotate(180deg)
                            -webkit-transition all .1s linear,rotate .15s ease-in-out 
                            -moz-transition all .1s linear,rotate .15s ease-in-out 
                            transition all .1s linear,rotate .15s ease-in-out 

            .m-sel-check
                min-height 36px
                margin-top 12px
                padding-top 5px
                _border(top,#e2e2e2)
                .m-check-none
                    line-height 36px
                    padding-left 13px
                    color #959595
                    _spacingPlus()
                .m-check-box
                    position relative
                    min-height 36px
                    .m-check-tit
                        width 130px - 13px
                        padding-left 13px
                        color #959595
                        _spacingPlus()
                        height 36px
                        line-height 36px
                        _completeCenter(0,auto,0,auto)
                    .m-check-con
                        margin-left 140px
                        padding 7px 0 0
                        .u-check-lst,.u-all-clear
                            float left
                        .u-check-lst
                            .u-check-item
                                height 25px
                                line-height 25px
                                padding 0 21px 0 8px
                                _borderAll($c_blue)
                                color $c_blue
                                margin-right 10px
                                margin-bottom 8px
                                _spacingPlus() 
                                _borderRadius(2px)
                                cursor pointer
                                position relative
                                .u-label,.iconfont
                                    cursor @cursor
                                .iconfont
                                    width 20px
                                    text-align center
                                    height 20px
                                    line-height 20px
                                    _completeCenter(auto,2px,2px);
                                    color $c_blue
                                    font-size 15px
                                &:hover
                                    _borderAll(#ff6533)
                                    .iconfont,.u-label
                                        color #ff6533


                        .u-all-clear
                            margin-left 5px
                            height 27px
                            line-height 27px
                            color #ff6533
                            &:hover
                                color #ff6533
        .m-lst-gp-sel
            .m-hd
                height 60px
                line-height 60px
                .u-tit
                    height 60px
                    font-size 22px
                    font-weight normal
                    _spacingPlus(2px)
                    .data
                        font-size 14px
                        _spacingPlus(0)
                        color #959595
                        margin 0 0 0 -3px
                        .vital
                            font-size 16px
                            margin 0 3px
                            color #ff6533
                .m-filtrate
                    // width 684px
                    height 32px
                    margin-top 13px
                    .m-filter-lst
                        .u-item
                            float left
                            width 100px
                            text-align center
                            height 32px
                            line-height 32px
                            margin-left 12px
                            border 1px solid #e2e2e2
                            _borderRadius(2px)
                            .u-lk
                                _display()
                            &.on
                                border 1px solid #2e98e2
                                color #2e98e2
            .m-con
                padding 0 0 30px
                .m-carlist-true
                    width 100%
                .m-carlist-null
                    width 800px
                    height 280px
                    padding-top 60px
                    background #fafafa
                    margin 45px auto 20px
                    position relative
                    .m-pic
                        width 275px
                        height 220px
                        _completeCenter(0,auto)
                        .u-img
                            _completeCenter(auto,0,0,auto)
                    .m-srh-info
                        margin-left 300px
                        width @width - 300px - 35px
                        padding 0 35px 0 0
                        .u-hd
                            line-height 36px
                            margin 6px 0
                            font-size 16px
                            color #313536
                            .label
                                color $c_blue
                                padding 0 3px
                                .symbol
                                    margin 0 3px 0 1px
                        .u-txt
                            line-height 28px
                            height 28px
                            color #959595


                .m-page
                    padding 35px 0 20px
                    text-align center



