@import '~assets/css/mixin.styl'

.m-mask-bg
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background #282828
    _opacity(.6)
    z-index 1000001

.m-sign-box
    position fixed
    top 45%
    left 0
    right 0
    margin -280px auto 0
    z-index 2000001
    width 560px
    background #fff
    _borderRadius(7px)
    _overflow()
    _unUserSelect()
    .m-sign-hd
        height 60px
        _border(bottom,#e2e2e2)
        position relative
        .m-hd-tit
            width 70%
            height 60px
            line-height 60px
            padding-left 25px
            font-size 18px
            _spacingPlus(3px)
        .u-close
            _display()
            width 42px
            text-align center
            height 42px
            line-height 42px
            _verticalLayout(auto,10px)
            color #959595
            .iconfont
                font-size 28px
                _display()
                _translate3d(0,2px)
            &:hover
                color $c_blue

    .m-login-tab
        height 44px
        width 300px
        _border(bottom,#e2e2e2,2px)
        text-align center
        margin 30px auto 0
        font-size 0
        .u-tab-item
            width 150px
            line-height 44px
            font-size 15px
            float left
            _spacingPlus()
            color #959595
            &.active
                _border(bottom,$c_blue,2px)
                color $c_blue
        &.one
            width 220px
            .u-tab-item
                width @width
                font-size 17px
                _spacingPlus(4px)

    &.forget 
        .m-login-ipt
            margin 30px auto 0
            padding 10px 0

    .m-login-ipt
        width 380px
        margin 30px auto 0
        padding 10px 0
        .m-form-gp
            .m-gp-line
                min-height 42px
                width @width
                position relative
                margin-bottom 15px
                .item-error
                    height 28px
                    line-height 30px
                    margin 0 80px 8px 0
                    background #FBEBE6
                    _borderAll(#ff6533)
                    _borderRadius(1px)
                    color #777
                    font-size 12px
                    .error-txt
                        margin-left 10px
                        position relative
                        height 30px
                        line-height 30px
                        padding-left 22px
                        _overflow()
                        .iconfont
                            width 20px
                            height 20px
                            line-height 20px
                            font-size 18px
                            color #ff6533
                            _completeCenter(0,auto)
                .u-ipt-box
                    height 42px
                    _borderAll(#e2e2e2)
                    _borderRadius(3px)
                    position relative
                    &.code
                        border none
                        _borderRadius(0)
                        .u-ipt
                            width @width - 162px
                            height 42px
                            _borderAll(#e2e2e2)
                            _borderRadius(3px)
                        .code-btn
                            _display()
                            width 145px
                            text-align center
                            height @height
                            line-height @height
                            background $c_blue
                            color #f0f0f0
                            _borderRadius(2px)
                            _spacingPlus(2px)
                            _completeCenter(auto,0)
                            &:hover
                                background @background + 12%
                            &.disable
                                width @width - 2px
                                height @height - 2px
                                background #f0f0f0
                                _borderAll(#e2e2e2)
                                _spacingPlus()
                                font-size 13px
                                color #777
                                &:hover
                                    background @background
                        .img-btn
                            _display()
                            width 145px
                            height @height
                            _borderRadius(2px)
                            _completeCenter(auto,0)
                            .u-pic
                                width @width
                                height @height
                                _borderRadius(2px)
                    .u-ipt
	                    width @width - 2px
	                    height @height
	                    padding 0 20px
	                    border none
                    .u-ico
                        width 20px
                        height 20px
                        color #c2c2c2
                        position absolute
                        right 10px
                        top 0
                        bottom 0
                        margin auto 0
                        .iconfont
                            font-size 18px
                &.m-btn-oper
                    padding-top 12px
                    margin-bottom 0
                    width @width
                    .u-btn
                        border none
                        width @width
                        height 42px
                        _borderRadius(5px)
                        color #f4f4f4
                        font-size 16px
                        _spacingPlus(8px)
                        background $c_blue
                        &:hover
                            background $c_blue + 8% - 2deg
    .gp-other
        text-align right
        margin-bottom 10px
        .u-lk
            color #a5a5a5
            height 20px
            line-height 20px
            font-size 13px
            &:hover
                color $c_blue


    .m-other-oper
        width 100%
        background #f0f0f0
        height 48px
        line-height 48px
        margin-top 30px
        _border(top,#e2e2e2)
        float right
        _borderRadius(7px,bottom-right)
        _borderRadius(7px,bottom-left)
        .u-lk
            float right
            margin-right 25px
            font-size 13px
            _spacingPlus()
            color #959595
            _display(inline-block)
            &:hover
                color $c_blue


