@import '~assets/css/mixin.styl'

.m-center-box
    padding 30px 0 0
    .m-safety-lst
        .m-item
            height 60px
            line-height 60px
            background #53aeef + 95%
            _borderAll(#53aeef)
            _borderRadius(1px)
            position relative
            padding 0 20px
            margin-bottom 20px
            .u-tit
                color #40474A
                font-weight bold
                font-size 14px
                _spacingPlus(2px)
            .u-data
                width 170px
                height 28px
                line-height 28px
                text-align center
                font-size 13px
                color #53AEEF
                _spacingPlus()
                _completeCenter(135px,auto)
                _ellipsis()
            .u-tips
                width 450px
                height 28px
                line-height 28px
                font-size 12px
                color #858B8E
                _completeCenter(330px,auto)
                _ellipsis()
            .u-lk
                _completeCenter(auto,15px)
                color #f43
                font-size 13px
                _spacingPlus(2px)


