@import '~assets/css/mixin.styl'

.m-center-box
    .m-safety-lst
        .m-item
            height 60px
            line-height 60px
            background #fff
            _borderAll(#DCDEE0)
            _borderRadius(1px)
            position relative
            padding 0 20px
            font-size 12px
            margin-bottom 20px
            .u-tit
                color #40474a
                _spacingPlus()
            .u-data
                width 170px
                height 28px
                line-height 28px
                text-align center
                color $c_blue
                _spacingPlus()
                _completeCenter(135px,auto)
                _ellipsis()
            .u-tips
                width 450px
                height 28px
                line-height 28px
                font-size 12px
                color #b2b2b2
                _completeCenter(350px,auto)
                _ellipsis()
            .u-lk
                _completeCenter(auto,20px)
                color #ff6533
                _spacingPlus()


