@import '../../../assets/css/mixin.styl'

.g-mn-con
    .m-wallet-con
        padding-top 25px
        .m-info-box
            width 640px
            .u-info
                height 38px
                line-height 38px
                margin-bottom 15px
                font-size 15px
                color #545454
                .u-vital
                    color $c_blue
                    font-size 20px
                    margin 0 3px
            .u-explain
                font-size 13px
                color #959595
        .u-btn
            width 150px
            _borderAll(#e2e2e2)
            height 48px
            background #fff
            _borderRadius(3px)
            line-height 48px
            color #545455
            font-size 15px
            _spacingPlus(2px)
            text-align center
            &:hover
                background $c_blue
                _borderAll($c_blue)
                color #f4f4f4




