@import '~assets/css/mixin.styl'

// 车辆收藏过渡效果
.car-list-enter-active
    _transitionAll(.3s)
.car-list-leave-active
    _transitionAll(.4s,cubic-bezier(0.22, 0.61, 0.21, 0.92))

.car-list-enter
    _opacity(0)
    _translate3d(-4px,-20px)
.car-list-leave-active
    _opacity(0)
    _translate3d(15px,-50px)

.m-collect-wrap
    width 948px
    position relative
    .m-car-lst
        width 948px + 12px
        margin -12px 0 0 -12px
        .u-item
            width 180px - 2px
            height 245px
            margin 12px 0 0 12px
            float left