@import '~assets/css/mixin.styl'

//列表过渡效果
.car-list-enter-active
    _transitionAll(.3s)
.car-list-leave-active
    _transitionAll(.4s,cubic-bezier(0.22, 0.61, 0.21, 0.92))

.car-list-enter
    _opacity(0)
    _translate3d(-4px,-20px)
.car-list-leave-active
    _opacity(0)
    _translate3d(15px,-50px)

.m-collect-wrap
    width 948px
    position relative
    .m-car-lst
        width 948px + 12px
        margin-left - 12px
        .u-item
            width 180px - 2px
            height 245px
            margin 0 0 12px 12px
            _boxShadow(8px,rgba(0,0,0,.08),2px,2px)
            _borderAll(#e8e8e8)
            _overflow()
            float left
            .u-lk-box
                _display()
                width @width
                height @height
            .u-pic-box
                width 180px
                height 130px
                position relative
                _overflow()
                .u-mark
                    height 22px
                    line-height 22px
                    background #ff6533
                    font-size 12px
                    padding 0 10px 0 5px 
                    _spacingPlus()
                    z-index 99
                    color #f2f2f2
                    _borderRadius(11px,top-right)
                    _borderRadius(11px,bottom-right)
                    _completeCenter(0,auto,12px,auto)
                .u-pic
                    width @width
                    height @height
                    _overflow()
                    _imgwrap()
                    img
                        _transitionAll(.3s)
                .cancel
                    _completeCenter(0,auto,auto,0)
                    z-index 99
                    width 100%
                    height 38px
                    line-height 38px
                    text-align center
                    font-size 14px
                    _spacingPlus(2px)
                    color #40474a
                    _translate3d(0,38px)
                    background rgba(255,255,255,.64)
                    _transitionAll(.2s)
                &:hover
                    .cancel
                    	_translate3d(0,0px)
                    	_transitionAll(.25s,cubic-bezier(0.05, 0.37, 0.37, 0.82))
            .u-con
                color #40474a
                padding 5px 7px
                font-size 13px
                .u-tit
                    line-height 20px
                    height 40px
                    margin-bottom 5px
                    _ellipsis(2)
                .u-price,.u-merchant
                    height 18px
                    line-height 18px
                    font-size 12px
                    margin-bottom 2px
                    color #959595
                    _ellipsis()
                    .vital
                        color #ff6533
                        font-size 13px
                .u-other
                    font-size 12px
                    color #959595
                    height 18px
                    _ellipsis()
            &:hover
                .u-pic-box
                    .u-pic
                        img
                            _scale(1.05)
                            _transitionAll(.3s,cubic-bezier(0.43, 0.71, 0.79, 1.07))
                .u-con
                    .u-tit
                        color $c_blue