@import '../../assets/css/mixin.styl'

.g-doc
    .g-ft
        background #4B5861
        color #d2d2d2
        padding-top 50px
        width 100%
        position relative
        .m-ft-bxo
            height @height
            .m-ft-ct
                width 100%
                min-height 205px
                position relative
                padding-bottom 20px
                _border(bottom,#6E777D)
                .m-lk-wrap
                    width 440px
                    height 205px
                    _completeCenter(0,auto,0,auto)
                    .m-lk-hd
                        height 36px
                        line-height 36px
                        margin-top -8px
                        margin-bottom 5px
                        .u-tit
                            color #ededed
                            font-size 18px
                            _spacingPlus()
                    .m-gp-wrap
                        padding-left 3px
                        .m-gp-item
                            width 185px
                            float left
                            margin-right 15px
                            &.last
                                margin-right 0
                        .u-lk-lst
                            .u-item
                                line-height 32px 
                                font-size 12px
                                color #c2c2c2
                                .u-lk
                                    color @color
                                    &:hover
                                        color #ededed


                .m-ewm-wrap
                    width 290px
                    min-height 205px
                    _completeCenter(480px,auto,0,auto)
                    .u-ewm-box
                        width 130px
                        float left
                        &.v2
                            margin-left 30px
                        .u-pic
                            width 130px
                            height 130px
                            margin 0 auto
                        .u-txt
                            width 100%
                            height 22px
                            line-height 22px
                            margin-top 8px
                            text-align center
                            color #e2e2e2
                            _spacingPlus()

                .m-tel-box
                    width 270px
                    height 205px
                    _completeCenter(auto,0,0,auto)
                    .u-tit
                        background rgba(255,255,255,.35)
                        _borderRadius(3px)
                        _spacingPlus(2px)
                        font-size 19px
                        color #f4f4f4
                        padding 0 20px 0 50px
                        height 50px
                        line-height 50px
                        width 150px
                        position relative
                        .iconfont 
                            width 28px
                            height 28px
                            text-align center
                            line-height 28px
                            font-size 26px
                            _completeCenter(16px,auto,4px)
                    .u-tel
                        margin 8px 3px 10px
                        font-size 25px
                        _spacingPlus()
                        color #ededed
                    .u-txt
                        line-height 26px
                        padding-left 5px
                        font-size 12px
                        color #c2c2c2
                        

            .m-ft-cprt
                width 100%
                margin-top 8px
                padding-bottom 30px
                .m-info
                    height 36px
                    line-height 36px
                    margin-bottom 8px
                    text-align center
                    font-size 12px
                    .span
                        margin-right 12px
                        &.last
                            margin-right 0
                .m-pic
                    text-align center
                    height 24px
                    .u-lk
                        width 93px
                        height 24px
                        margin-right 15px
                        _display(inline-block)
                        &.last
                            margin-right 0
                        .u-pic
                            width 100%
                            height 100%