@import '~assets/css/mixin.styl'

.m-payment-con
    .m-section
        margin 0 0 10px
        .m-tit
            height 34px
            line-height @height
            _border(bottom,#e5e8eb,2px)
            .tit
                _display(inline-block)
                height 34px
                line-height @height
                font-weight bold
                font-size 14px
                padding 0 4px 0 2px
                _spacingPlus()
                position relative
                &::after
                    _display()
                    content ""
                    height 2px
                    background #40474a
                    _completeCenter(,,auto,-1px)
        .m-con
            padding 15px 0 0
            .info-line
                height 32px
                line-height @height
                position relative
                .attr
                    width 80px
                    height @height
                    text-align right
                    _completeCenter(0,auto,0,auto)
                    font-size 13px
                    color #959595
                .data
                    margin 0 0 0 100px
                    font-size 14px
                    &.no
                       font-size 16px
                    .price
                        color #ff6533
                        font-size 13px
                        .vital
                            font-size 20px
                            margin 0 3px 0 1px               
            .pay-con
                position relative
                .pay-method
                    .u-tips
                        height 28px
                        line-height @height
                        font-size 13px
                        color #959595
                        margin 0 0 10px
                    .pay-md-lst
                        .u-item
                            float left
                            width 150px
                            height 42px
                            _borderAll(#4B5861 + 75%)
                            margin 0 15px 0 0
                            .u-box
                                _display()
                                width @width
                                height @height
                                .pay-bg
                                    width @width
                                    height @height
                                    &.ye
                                        background url('../../../assets/img/pay_bg_ye.jpg') center center no-repeat
                                        background-size auto 42px
                                    &.zfb
                                        background url('../../../assets/img/pay_bg_zfb.jpg') center center no-repeat
                                        background-size auto 37px
                                    &.wx
                                        background url('../../../assets/img/pay_bg_wx.jpg') center center no-repeat
                                        background-size auto 28px 
                                    &.nh
                                        background url('../../../assets/img/pay_bg_nh.jpg') center center no-repeat
                                        background-size auto 35px
                                    &.union
                                        background url('../../../assets/img/pay_bg_union.jpg') center center no-repeat
                                        background-size auto 39px

                            .icon
                                _display(none)
                            &.on,&:hover
                                _borderAll(#ff6533)
                            &.on
                                position relative
                                .icon
                                    _display()
                                    width 20px
                                    height @width
                                    _completeCenter(auto,0,auto,0)
                                    background #fff url('../../../assets/img/corner_mark_check.png') center center no-repeat
                                    background auto 20px
            .u-line-box
                padding 10px 0 0
                .attr
                    height 28px
                    line-height @height
                    color #959595
                    margin 0 0 10px
                .box-inner
                    min-height 38px
                    position relative                    
                    .ipt
                        _display(inline-block)
                        width 280px
                        vertical-align bottom
                        .user-input
                            width @width
                            height 38px
                            line-height 38px
                            padding 0 12px
                            _borderAll(#4B5861 + 75%)
                            font-size 14px
                            _spacingPlus()
                            &:hover,&:focus
                                _borderAll(#4B5861)
                        &.radio-ipt
                            height 38px
                            line-height 38px
                    .line-error
                        _display(inline-block)
                        height 28px
                        line-height 28px
                        margin 0 0 0 12px
                        background #FBEBE6
                        _borderAll(#ff6533)
                        _borderRadius(1px)
                        color #777
                        font-size 12px
                        .error-txt
                            margin-left 10px
                            position relative
                            height 30px
                            line-height 30px
                            padding 0 12px 0 22px
                            _overflow()
                            .iconfont
                                width 20px
                                height 20px
                                line-height 20px
                                font-size 18px
                                color #ff6533
                                _completeCenter(0,auto)
            .order-con
                width 948px
                .product-info
                    width @width 
                    height 120px
                    position relative
                    .u-pic-box
                        width 160px
                        height @height
                        _completeCenter(0,auto,0,auto)
                        .u-pic
                            width @width
                            height @height
                            _overflow()
                            img
                               width @width
                               height auto
                    .info-con
                        height @height
                        width @width - 180px - 20px
                        margin 0 0 0 180px
                        .u-title
                            height 48px
                            padding 3px 0
                            margin 0 0 15px 
                            line-height 24px
                            _ellipsis(2)
                            font-size 15px
                            font-weight bold
                            _spacingPlus()
                        .u-other
                            height 25px
                            line-height @height
                            .attr
                                color #959595
                                font-size 12px
                            .data
                                margin 0 0 0 10px
                                font-size 14px
                                color #40474a
                                _spacingPlus()
                            .cut
                                margin 0 5px
                                color #c2c2c2
                        .u-price
                            height 34px
                            line-height @height
                            width 250px
                            text-align right
                            _completeCenter(auto,10px,auto,-2px)
                            color #959595
                            font-size 12px
                            .price
                                color #ff6533
                                font-size 12px
                                .vital
                                    font-size 20px
                                    margin 0 3px 0 1px

    .m-operate
        height 76px
        position relative
        margin 30px 0 5px
        .u-btn-box
            width 350px
            height @height
            _completeCenter(auto,5px,0,auto)
            text-align right
            .u-tips
                height 32px
                line-height @height
                margin 0 0 6px
                color #959595
                font-size 13px
                .price
                    color #ff6533
                    font-size 12px
                    .vital
                        font-size 20px
            .u-btn
                _display(inline-block)
                height 38px
                line-height @height
                width 150px
                font-size 15px
                text-align center
                background #2f98e2
                color #f2f2f2
                _spacingPlus(4px)
                _borderRadius(2px)
                &:hover
                    background @background - 12%


