@import '../../../assets/css/mixin.styl'

.g-mn-con
    width 1020px
    background #fff
    .m-hd
        height 48px
        line-height 48px
        font-size 18px
        padding 0 12px
        _spacingPlus(3px)
        background #e2e2e2
        margin-bottom 20px
        .u-tit
            color #313536
    .m-tab-box
        .m-opt-lst
            height 48px
            line-height 48px
            width auto
            margin-bottom 20px
            .m-opt-item
                width 150px
                text-align center
                height 48px
                line-height 48px
                float left
                _borderAll(#e2e2e2)
                border-right none
                font-size 14px
                color #545454
                cursor pointer
                &:last-child
                    _border(right,#e2e2e2)
                &.on
                    color $c_blue
    .m-tab-ref-con
        width 1020px
        .m-mcar-lst
            width @width + 14px
            margin-left -14px
            .m-mcar-item
                width (@width / 4) - 14px
                height 230px
                margin 0 0 15px 14px
                float left
                _boxShadow(12px,rgba(0,0,0,.15))
                _transitionAll(.2s)
                .m-pic-box
                    width 100%
                    height 160px
                    position relative
                    .u-pic
                        width 100%
                        height 100%
                        _imgwrap()
                    .u-soldout
                        _completeCenter(auto,0,0,auto)
                        width 60px
                        height 28px
                        line-height 28px
                        background rgba(25,25,25,.42)
                        _opacity(1)
                        _transitionAll(.15s)
                        color #e2e2e2
                        _spacingPlus(2px)
                        text-align center
                        _borderRadius(2px,bottom-left)
                        z-index 9
                        _opacity(0)
                        &:hover
                            background rgba(0,0,0,.72)
                            color $c_blue
                    .u-oper
                        width 100%
                        height 36px
                        line-height 36px
                        _completeCenter(0,auto,auto,0)
                        _opacity(0)
                        .u-btn
                            width 50%
                            line-height @height
                            text-align center
                            color #e2e2e2
                            _spacingPlus(2px)
                            background rgba(25,25,25,.42)
                            &:hover
                                background rgba(0,0,0,.72)
                                color $c_blue
                        .u-line
                            content ""
                            _display()
                            height @height
                            width 1px
                            background #545454
                            _completeCenter()
                &:hover
                    _transitionAll(.3s,cubic-bezier(0.04, 0.65, 0.65, 0.92))
                    _translate3d(,-3px);
                    _boxShadow(20px,rgba(0,0,0,.15),1px,10px)
                    .m-pic-box
                        .u-oper
                            _opacity(1)
                        .u-soldout
                            _opacity(1)
                .m-mcar-info
                    font-size 13px
                    padding 5px 10px
                    .u-tit
                        height 32px
                        line-height 32px
                        font-size 14px
                        color #313536
                        _ellipsis()
                    .u-price
                        height 28px
                        line-height 28px
                        color #777
                        .price
                            font-size 18px
                            color #f43


