@import '~assets/css/mixin.styl'

.m-wallet-wrap
    .m-wallet-hd
        .m-top
            height 60px
            line-height 60px
            background #f0f0f0
            position relative
            .u-greet,.u-payPass
                float left
            .u-payPass
                width 400px
	            .lk,.tips
	                _display(block)
	                float left
	    .m-mn
	        height 160px
	        background #ededed
	        margin 15px 0 0