@import '~assets/css/mixin.styl'

// 由上至下滑动展开
.slide-top-enter-active
    _transitionAll(.25s)
.slide-top-leave-active
    _transitionAll(.3s,cubic-bezier(0.22, 0.61, 0.21, 0.92))

.slide-top-enter
    _opacity(0)
    _translate3d(2px,12px)
.slide-top-leave-active
    _opacity(0)
    _translate3d(15px,-50px)

.m-apply-wrap
    width 520px
    min-height 280px
    padding 40px 0 40px 180px
    _unUserSelect()
    .m-box-inner
        min-height 300px
        .m-flow-hd
            height 80px
            background #fff
            .u-flow-box
                height @height
                position relative
                .u-progress-wrap
                    height 6px
                    width @width
                    background #c2c2c2
                    _completeCenter(,,25px,auto)
                    _borderRadius(3px)
                    z-index 1
                    _overflow()
                    .progress-bar
                        width 0
                        height 100%
                        background #2f98e2
                        _transitionAll(.28s,cubic-bezier(0.14, 0.46, 0.46, 1.02))
                    &.flow1
                        .progress-bar
                            width 34%
                    &.flow2
                        .progress-bar
                            width 66%
                    &.flow3
                        .progress-bar
                            width 100%
                .u-part
                    height 80px
                    width 100px
                    z-index 2
                    &.v1
                        _completeCenter(40px,auto)
                    &.v2
                        _completeCenter(0,0)
                    &.v3
                        _completeCenter(auto,40px)
                    .part-no
                        width 54px
                        text-align center
                        height 54px
                        line-height 54px
                        background #c2c2c2
                        _borderRadius()
                        font-size 18px
                        color #f2f2f2
                        _completeCenter(,,0,auto)
                    .txt
                        padding 60px 0 0
                        height 20px
                        line-height 20px
                        text-align center 
                        font-size 13px
                        color #a5a5a5
                        _spacingPlus()
                    &.on
                        .part-no
                            background #2f98e2
                        .txt
                            color #2f98e2
        .u-btn-box
            height 42px
            line-height 42px
            position relative
            margin 20px 0 0
            .u-btn
                padding 0 20px
                text-align center
                height 38px
                line-height 38px
                _display(inline-block)
                background #2f98e2
                color #f2f2f2
                _borderRadius(2px)
                _spacingPlus(3px)
                font-size 17px
                vertical-align top
                &:hover
                    background @background - 10%
        .m-flow-con
            margin 35px 0 0
            min-height 300px
            color #40474a
            .u-tb-wrap
                width 450px
                margin 0 35px
                .u-line-box
                    width @width
                    min-height 42px
                    position relative
                    margin 10px 0 0
                    .line-error
                        height 28px
                        line-height 30px
                        margin 0 50px 8px 100px
                        background #FBEBE6
                        _borderAll(#ff6533)
                        _borderRadius(1px)
                        color #777
                        font-size 12px
                        .error-txt
                            margin-left 10px
                            position relative
                            height 30px
                            line-height 30px
                            padding-left 22px
                            _overflow()
                            .iconfont
                                width 20px
                                height 20px
                                line-height 20px
                                font-size 18px
                                color #ff6533
                                _completeCenter(0,auto)
                    .line-inner
                        width @width
                        height 42px
                        line-height 42px
                        position relative
                        .u-attr
                            color #959595
                            font-size 13px
                            _display()
                            height @height
                            width 95px
                            text-align right
                            _completeCenter(0,auto,0,auto)
                        .u-ipt-box
                            width @width - 100px
                            height @height
                            margin 0 0 0 100px
                            .u-ipt
                                width @width - 20px
                                height 38px
                                line-height 38px
                                padding 0 10px
                                vertical-align top
                                color $c_blue
                                margin 2px 0 0
                                _borderAll(#e2e2e2)
                                _borderRadius(2px)
                    &.textarea
                        .line-inner
                            height 96px
                            .u-ipt-box
                                width @width - 100px
                                height @height
                                .u-textarea
                                    width @width - 20px
                                    height 92px
                                    line-height 28px
                                    color $c_blue
                                    margin 2px 0 0
                                    padding 4px 10px
                                    _borderAll(#e2e2e2)
                                    _borderRadius(2px)
                                    font-family $f_family_yh
                .u-btn-box
                    .u-btn
                        margin 2px 0 0 100px 
                         
            .m-upload-wrap
                width 460px
                margin 0 0 0 30px
                .u-line-box
                    @width @width
                    margin 0 0 18px
                    .other-box
                        height 32px
                        line-height 32px
                        margin 0 0 8px
                    .upload-inner
                        width @width
                        .u-hd
                            height 32px
                            line-height 32px
                        .u-con
                            width @width
                            height 150px
                            position relative
                            .u-upload
                                width 200px - 4px
                                height 150px - 4px
                                _borderRadius(3px)
                                _borderAll(#e2e2e2,2px)
                                _completeCenter(0,auto)
                            .u-example
                                width @width - 220px
                                height 150px
                                margin 0 0 0 220px
                                position relative
                                .tit
                                    height 28px
                                    line-height 28px
                                    _display()
                                    _spacingPlus(1px)
                                    font-size 13px
                                    _completeCenter(10px,auto)
                                .u-pic
                                    width 176px
                                    height 132px
                                    _completeCenter(auto,12px,9px,auto)
                                for n in 1 2 3
                                    &.v{n}
                                        .u-pic
                                            background url("../../../../../assets/img/apply-example_0"+n+".jpg") center center no-repeat
                                            background-size auto 100%
                .u-btn-box
                    margin 40px 0 0
                    .u-btn
                        _display(inline-block)
                        font-size 16px
                        &.hollow
                            padding 0 15px
                            margin 0 0 0 12px 
                            height 38px - 2px
                            line-height @height
                            _borderAll(#e2e2e2)
                            background #fff
                            color #40474a
            // 认证结果样式
            .m-res-box
                width 520px
                position relative
                .sign
                    width 125px
                    text-align center
                    height 125px
                    line-height 125px
                    _completeCenter(auto,120px,-25px,auto)
                    .iconfont
                        font-size 100px
                        &.v1
                            color #F5BC12
                        &.v2
                            color #FF5A4E
                        &.v3
                            color #31EA84
                .m-info
                    width @width - 80px
                    margin  0 40px
                    .u-line-box
                        width @width
                        height 36px
                        line-height 36px
                        position relative
                        .attr
                            width 100px - 10px
                            padding 0 10px 0 0
                            height 36px
                            line-height 36px
                            text-align right
                            _completeCenter(0,auto,0,auto)
                            color #959595
                            _spacingPlus()
                            font-size 13px
                        .data
                            width @width - 108px
                            margin 0 0 0 108px
                            font-size 13px
                .m-voucher-photo
                    width @width + 80px
                    margin 25px -40px 0
                    .u-hd
                        height 42px
                        line-height 42px
                        margin 0 0 15px
                        font-size 16px
                        _spacingPlus()
                        _border(bottom,#e2e2e2)
                        position relative
                        &::after
                            content ""
                            _display()
                            width 155px
                            height 2px
                            background $c_blue
                            _completeCenter(0,auto,auto,-1px)
                    .m-photo-inner
                        width @width + 12px
                        margin 0 0 0 -12px
                        .u-item
                            float left
                            .u-pic
                                width @width
                                height @height
                                _imgwrap()
                            .tit
                                height 32px
                                line-height 32px
                                text-align center
                                margin 4px 0 0
                                color #959595
                                font-size 13px
                                _spacingPlus()
                        &.v2
                            width @width + 12
                            .u-item
                                width 300px
                                height 225px + 36px
                                margin 0 0 0 12px
                                .u-pic
                                    width @width
                                    height @height - 36px
                                    _imgwrap()
                        &.v3
                            width @width + 12
                            .u-item
                                width 196px
                                height 147px + 36px
                                margin 0 0 0 12px
                                .u-pic
                                    width @width
                                    height @height - 36px
                                    _imgwrap()
                .u-btn-box
                    width @width
                    margin 50px 0 0 
                    .u-btn
                        width 240px
                        _completeCenter(,,2px,auto)
                        font-size 15px




