@import '../../../assets/css/mixin.styl'

.g-mn-con
    .m-upd-box
        width 480px
        margin-left 200px
        margin-top 80px
        .u-vCode
            background #4db3ff
            border-color #4db3ff
            color #fff
            &:hover
                background #20a0ff
            	border-color #20a0ff
            span
                cursor inherit
            &:disabled
                border-color #e2e2e2
                background #e2e2e2
                color #777