@import '~assets/css/mixin.styl'

.g-doc
    background #fff
    .g-bd
        padding 40px 0
        color #40474a
        .m-merchant-hd
            width 720px
            min-height 180px
            margin 0 auto 20px
            background #f0f0f0
            .m-cdgName
                height 48px
                line-height 48px
                font-size 32px
                _spacingPlus()
                text-align center

            // height 210px - 30px
            // margin 20px 0 25px 0
            // position relative
            // .u-cdgName
            //     height 54px
            //     line-height 54px
            //     margin-bottom 5px
            //     .u-name,.u-type
            //         _display()
            //         float left
            //     .u-name
            //         font-size 38px
            //         _spacingPlus()
            //         max-width 600px
            //     .u-type
            //         _borderAll(#2f98e2);
            //         color #2f98e2
            //         vertical-align middle
            //         height 24px
            //         line-height 24px
            //         margin 16px 0 0 15px
            //         padding 0 8px 1px
            //         _borderRadius(4px)
            // .u-tel
            //     height 54px
            //     line-height 54px
            //     _completeCenter(auto,0,0,auto)
            //     color #2f98e2
            //     font-size 24px
            //     padding 0 0 0 34px
            //     .iconfont
            //         width 32px
            //         height 32px
            //         line-height 32px
            //         text-align center
            //         font-size 32px
            //         _completeCenter(0,auto,13px,auto)
            // .u-info
            //     line-height 24px
            //     .txt
            //         font-size 13px

        .m-merchant-con
            height 540px
            background #e2e2e2