@import '~assets/css/mixin.styl'

// 车行收藏过渡效果
.tips-enter-active
    _transitionAll(.1s)
.tips-leave-active
    _transitionAll(.4s,cubic-bezier(0.22, 0.61, 0.21, 0.92))

.tips-enter
    _opacity(1)
    _translate3d(0,12px)
.tips-leave-active
    _opacity(0)
    _translate3d(0,-18px)

.g-doc
    background #fff
    .g-bd
        padding 0 0 60px
        color #40474a
        .m-merchant-box
            margin 5px 0 0
            width 1200px - 50px
            background url(".././../assets/img/merchant-details_bg.jpg") 0 0 no-repeat
            padding 25px
            _overflow()
            .m-merchant-hd
                width 850px
                height 192px - 8px
                margin 0 auto 20px
                padding 8px 0 0 
                background rgba(22, 33, 44, 0.58)
                color #f2f2f2
                _borderRadius(90px)
                .m-cdgName
                    height 48px
                    line-height 48px
                    font-size 30px
                    _spacingPlus()
                    padding 12px 0 0
                    text-align center
                    .u-type
                        font-size 13px
                        height 20px
                        line-height 20px
                        background #ff6533
                        color #f2f2f2
                        padding 0 8px 1px
                        _display(inline-block)
                        vertical-align top
                        margin 10px 0 0
                        _borderRadius(2px)
                        &.partner
                            background #a470f7
                    &.v2
                        padding 0 0 0 75px
                .m-collect
                    width 210px
                    height 28px
                    line-height 28px
                    margin 0 auto 5px
                    position relative
                    .grade
                        float left
                    .attention
                        float right
                        position relative
                        .iconfont
                            width 38px
                            height 38px
                            cursor pointer
                            font-size 28px
                            line-height 38px
                            text-align center
                            _completeCenter(auto,-36px,-6px,auto)
                    .attention-tips
                        width 108px
                        font-size 13px
                        color #2f98e2
                        _completeCenter(auto,-148px,0,auto)
                .m-contact,.m-result,.m-address
                    height 24px
                    line-height 24px
                .m-contact
                    text-align center
                    margin 0 0 5px
                    .name
                        margin 0 20px 0 0
                    .tel
                        font-size 15px
                .m-result
                    width 580px
                    margin 0 auto 5px
                    text-align center
                    .u-info
                        _display(inline-block)
                        padding 0 12px
                        .attr
                            font-size 14px
                            margin 0 5px 0 0
                        .data
                            _display(inline-block)
                            font-size 20px
                            color #2f98e2
                            _translate3d(0,2px)
                            .unit
                                font-size 12px
                                color #f2f2f2
                                margin 0 0 0 3px
                                _display(inline-block)
                                _translate3d(0,-2px)
                .m-address
                    text-align center
                    margin 0 0 5px
                    .attr
                        margin 0 15px 0 0

            .m-merchant-con
                width @width - 30px
                padding 15px
                background rgba(255,255,255,.80)
                _borderRadius(12px)
                .m-hd
                    height 54px
                    width 380px
                    margin 0 auto 5px
                    text-align center
                    .u-tit
                        _display(inline-block)
                        height @height
                        line-height @height
                        font-size 26px
                        _spacingPlus(4px)
                        padding 0 12px
                        position relative
                        &::before,&::after
                            width 5px
                            height 5px
                            _borderRadius(3px)
                            content ""
                            _display()
                            background #2f98e2
                        &::before
                            _completeCenter(0,auto,2px)
                        &::after
                            _completeCenter(auto,0,2px)
                .m-lst-wrap
                    width 1045px
                    height 560px
                    margin 0 auto
                    .m-car-lst
                        width 1045px + 15px
                        margin 0 -15px 0 0
                        margin
                        .u-item
                            width 250px
                            height 240px
                            margin 15px 15px 0 0 
                            float left
                    .not-content-wrap
                        padding 0 0
                        .notContent
                            padding 20px 0
