@import '~assets/css/mixin.styl'

.g-doc
    background #fff
    .g-bd
        padding 0 0 60px
        color #40474a
        .m-merchant-box
            margin 5px 0 0
            width 1200px - 50px
            background url(".././../assets/img/merchant-details_bg.jpg") 0 0 no-repeat
            padding 25px
            _overflow()
            .m-merchant-hd
                width 850px
                height 192px
                margin 0 auto 20px
                background rgba(3,27,51,.55)
                color #f2f2f2
                _borderRadius(90px)
                .m-cdgName
                    height 48px
                    line-height 48px
                    font-size 30px
                    _spacingPlus()
                    padding 12px 0 0
                    text-align center
                    .u-type
                        font-size 13px
                        height 20px
                        line-height 20px
                        background #ff6533
                        color #f2f2f2
                        padding 0 8px 1px
                        _display(inline-block)
                        vertical-align top
                        margin 10px 0 0
                        _borderRadius(2px)
                .m-collect
                    width 210px
                    height 28px
                    line-height 28px
                    margin 0 auto 5px
                    .grade
                        float left
                    .attention
                        float right
                        position relative
                        .iconfont
                            width 38px
                            height 38px
                            cursor pointer
                            font-size 28px
                            line-height 38px
                            text-align center
                            _completeCenter(auto,-36px,-6px,auto)
                .m-contact,.m-result,.m-address
                    height 24px
                    line-height 24px
                .m-contact
                    text-align center
                    margin 0 0 5px
                    .name
                        margin 0 12px 0 0
                    .tel
                        font-size 15px
                .m-result
                    width 380px
                    margin 0 auto 5px
                    text-align center
                    .u-info
                        _display(inline-block)
                        padding 0 12px
                        .attr
                            font-size 14px
                            margin 0 5px 0 0
                        .data
                            font-size 20px
                            color #2f98e2
                .m-address
                    text-align center
                    margin 0 0 5px
                    .attr
                        margin 0 15px 0 0

            .m-merchant-con
                height 540px
                background rgba(255,255,255,.88)
                _borderRadius(3px)