@import '~assets/css/mixin.styl'


.m-merchant-con
    .merchantCar-swiper
        .swiper-container
            .swiper-pagination
                bottom 12px
                height 12px
                cursor default
                z-index 99
                .swiper-pagination-bullet
                    width 12px
                    height 12px
                    margin 0 7px
                    _borderRadius()
                    background #4B5861
                    _opacity(.6)
                    cursor pointer
                .swiper-pagination-bullet-active
                    _opacity(1)
                    background #2196F3
