@import '~assets/css/mixin.styl'

.m-help-con
    em.vital
        color $c_blue
        padding 0 2px
    .u-article
        text-indent 33px
        font-size 16px
        line-height 30px
        padding 0 0 15px
    .m-info-box
        padding 20px 0 0
        .u-gp
            padding 0 0 15px
            .tit
                font-size 20px
                height 30px
                line-height 30px
                color $c_blue
                font-weight normal
                padding 0 0 15px 
            .subtit
                font-size 16px
                height 30px
                line-height 30px
                font-weight normal
                padding 0 0 8px 
            .desc
                text-indent 33px
                font-size 13px
                line-height 26px
                padding 0 0 12px
                color #545454