@import './mixin.styl'
/*
 * 下面是许多研究的结果在跨浏览器的样式。
 * 木有车B2B平台的主要样式表文件
 * 作者Geek.Yu 在2017-05-22 16:12:00 创建了它
 * email : 1098654043@qq.com
 */


/* ==========================================================================
 * 布局（grid）（.g-）：将页面分割为几个大块，通常有头部、主体、主栏、侧栏、尾部等！
 * 模块（module）（.m-）：通常是一个语义化的可以重复使用的较大的整体！比如导航、登录、注册、各种列表、评论、搜索等！
 * 元件（unit）（.u-）：通常是一个不可再分的较为小巧的个体，通常被重复用于各种模块中！比如按钮、输入框、loading、图标等！
 * 功能（function）（.f-）：为方便一些常用样式的使用，我们将这些使用率较高的样式剥离出来，按需使用，通常这些选择器具有固定样式表现，比如清除浮动等！不可滥用！
 * 皮肤（skin）（.s-）：如果你需要把皮肤型的样式抽离出来，通常为文字色、背景色（图）、边框色等，非换肤型网站通常只提取文字色！非换肤型网站不可滥用此类！
 * 状态（.z-）：为状态类样式加入前缀，统一标识，方便识别，她只能组合使用或作为后代出现（.u-ipt.z-dis{}，.m-list li.z-sel{}），具体详见命名规则的扩展相关项。
 * ========================================================================== */



/* ==========================================================================
   浏览器升级提示 的样式
   ========================================================================== */

.browserupgrade 
    margin 0.2em 0
    background #ccc
    color #313536
    padding 0.2em 0

/* ==========================================================================
   初始化
   ========================================================================== */

*
    margin 0
    padding 0

html 
    display block
    font-size 12px
    color $c_black

body
    font-family $f_family_yh
    display block
    overflow hidden
    overflow-y scroll 
    border 0
    margin 0
    padding 0
    background $c_white03

a
    color inherit
    text-decoration none

del
    text-decoration line-through

p,h1,h2,h3,h4,h5,h6
    margin 0
    padding 0
    display block

button
    cursor pointer

button,input 
    outline none

ul,li
    margin 0
    padding 0 
    list-style none

section,div,span,em,i,p,h1,h2,h3,h4,h5,h6
    cursor default

a,a *
    cursor pointer

em,i
    font-style normal


/* ==========================================================================
   功能（function）（.f-）工具类
   ========================================================================== */

//-1200px布局
.f__w1200
    width 1200px
    margin 0 auto
    position relative

//-清边距
.f__nopad
    padding 0!important
.f__nomag
    margin 0!important

//-清浮动
.f__clearfix
    *zoom 1
    &:after
        visibility hidden
        display block
        font-size 0 
        content ""
        clear both
        height 0
.f__fl
    float left
.f__fr
    float right

//-清除间隙
.f__clearance
    font-size 0px
    letter-spacing -4px

//-显示与隐藏
.f__hide
    display none
.f__show
    display block

//文本对齐
.f__tal
    text-align left
.f__tac
    text-align center
.f__tar
    text-align right

//-溢出隐藏
.f__oh
    overflow hidden

//-文本粗细
.f__fwbd
    font-weight 700
.f__fwtn
    font-weight 400

//-浮动
.f__fl
    float left
.f__fr
    float center
.f__cb
    clear both

//-定位
.f__pc,.f__pl,.f__pr,.f__pt,.f__pb
    position absolute
.f__pc
    left 0
    right 0
    margin 0 auto
.f__pl
    left 0
.f__pr
    right 0
.f__pt
    top 0
.f__pb
    bottom 0

//del样式
.f__del
    text-decoration line-through

//内联
.f__di
    display inline-block

/* ==========================================================================
   布局（grid）（.g-）布局类
   ========================================================================== */

.g-doc
    width 100%
    background $c_white03
    
/* ==========================================================================
   木有车B2B网站的主要样式
   ========================================================================== */

input,select,button
    font-family $f_family_yh

.g-doc
    background #f4f4f4
    color #313536
    font-size 14px
    font-family $f_family_yh
    a:hover
        color #0479cc
    .m-crm
        height 50px
        line-height 50px
        & >*
            _display(inline-block)
            color #959595
        .el-breadcrumb
            .el-breadcrumb__item
                .el-breadcrumb__item__inner, 
                .el-breadcrumb__item__inner a
                    color #959595
                    &:hover
                        color $c_blue
        .el-breadcrumb__item
            &:last-child
                .el-breadcrumb__item__inner, 
                .el-breadcrumb__item__inner a
                    cursor default
                    color #959595!important
    .m-page
        .el-pager li.active
            border-color $c_blue
            background-color $c_blue
            cursor default
        .el-pager li:hover 
            color $c_blue
        .el-pagination__editor:focus
            outline none
            border-color $c_blue
        .el-pagination button:hover
            color $c_blue