@import '~assets/css/mixin.styl'

.m-app-dwonload
    background #fff
    .m-bnr   
        width 100%
        height 580px
        position relative
        background url("../../../assets/img/app-download-ad.jpg") no-repeat center center
        background-size auto 100%
    .m-mn
        width 100%
        min-height 800px
        .m-dowmload
            height 270px
            width 100%
            position relative
            .inner
                width 1200px
                height 182px
                margin 44px 0
                position relative
                .lk-wrap
                    width 286px
                    height 182px
                    _completeCenter(60px,auto)
                    .u-btn
                        _display()
                        height 70px
                        line-height 70px
                        width 282px - 6px - 15px
                        _borderAll(#a5a5a5,3px)
                        _borderRadius(8px)
                        font-size 17px
                        text-align right
                        _spacingPlus(4px)
                        padding 0 15px 0 0
                        &.android
                            margin 0 0 25px
                            background url("../../../assets/img/down-app-icon.png") no-repeat 20px 6px
                            background-size 48px auto
                            _borderAll(#A7D133,3px)
                            color #A7D133
                        &.ios
                            background url("../../../assets/img/down-app-icon.png") no-repeat 20px -102px
                            background-size 48px auto
                            _borderAll(#696C80 + 25%,3px)
                            color #696C80
                .ewm-wrap
                    width 160px
                    height 188px
                    _completeCenter(auto,60px)
                    .u-pic
                        width 160px
                        height 160px
                        _imgwrap()
                    .u-txt
                        text-align center
                        height 24px
                        line-height @height
                        font-size 14px
                        margin 4px 0 0
                        color #8D90A1
                        _spacingPlus()

        .m-con-item
            &.part1
                width 100%
                height 820px
                position relative
                .inner
                    height @height
                    .v1
                        width 960px
                        height 674px
                        background url("../../../assets/img/download-imgv1.jpg") no-repeat center center
                        background-size auto 100%
                        _completeCenter(,,auto,75px)
            &.part2
                width 100%
                height 750px
                background #f3f3f3
                position relative
                .inner
                    height @height
                    .v2
                        width 960px
                        height 996px
                        background url("../../../assets/img/download-imgv2.jpg") no-repeat center center
                        background-size auto 100%
                        _completeCenter(,,auto,-243px)
            &.part3
                width 100%
                height 1050px
                position relative
                .inner
                    height @height
                    .v3
                        width 957px
                        height 697px
                        background url("../../../assets/img/download-imgv3.jpg") no-repeat center center
                        background-size auto 100%
                        _completeCenter(,,auto,75px)





