@import '~assets/css/mixin.styl'

// 车行收藏过渡效果
.cdg-list-enter-active
    _transitionAll(.25s)
.cdg-list-leave-active
    _transitionAll(.3s,cubic-bezier(0.22, 0.61, 0.21, 0.92))

.cdg-list-enter
    _opacity(0)
    _translate3d(2px,12px)
.cdg-list-leave-active
    _opacity(0)
    _translate3d(15px,-50px)

.m-collect-wrap
    width 948px
    position relative
    .m-merchant-lst
        width 948px + 18px
        margin-left - 18px
        .m-item
            width 465px - 2px
            margin 0 0 15px 18px
            _boxShadow(8px,rgba(0,0,0,.05),0,0)
            _borderAll(#ededed)
            _overflow()
            position relative
            float left
            .u-lk-box
                width @width - 20px
                _display()
                padding 10px
            .m-face
                width 56px
                height 56px
                _borderRadius()
                _imgwrap()
                _completeCenter(12px,auto,12px,auto)
                img
                    _borderRadius()
            .m-info
                min-height 60px
                margin 0 0 0 68px 
                width @width - 68px - 20px
                color #40474a
                font-size 13px
                position relative
                .u-close
                    width 26px
                    height 26px
                    line-height 26px
                    text-align center
                    _completeCenter(auto,0,0,auto)
                    .iconfont
                        font-size 22px
                        color #f43
                    &:hover
                        color #f43
                        .iconfont
                            color @color + 10%
                .vital
                    color #ff6533
                    margin 0 2px
                .u-hd
                    height 22px
                    line-height 22px
                    margin-bottom 4px
                    font-size 14px
                    .u-cdg
                        color #40474a
                    .u-name
                        margin-left 25px
                        color #959595
                        font-size 12px
                        _display()
                        _translate3d(0,1px)
                .u-grade,.u-address
                    color #959595
                    line-height 20px
                    margin-bottom 3px
                .u-grade
                    .volume,.grade
                        margin-right 25px
                .u-address
                    _ellipsis()
            &:hover
                _boxShadow(12px,rgba(0,0,0,.08),-3px,3px)
                _borderAll(#e2e2e2)
                .m-info
                    .u-cdg
                        color #222

