@import '~assets/css/mixin.styl'

.m-order-con
    width 948px
    .m-tab-box
        height 48px
        line-height 48px
        .m-tab-lst
            width @width
            .m-item
                float left
                _display(inline-block)
                padding 0 10px