@import '~assets/css/mixin.styl'

.g-mn-con
    width 1020px
    background #fff
    .m-hd
        height 48px
        line-height 48px
        font-size 18px
        padding 0 12px
        _spacingPlus(3px)
        background #e2e2e2
        margin-bottom 20px
        .u-tit
            color #313536