@import '~assets/css/mixin.styl'

.m-about-con
    em.vital
        color $c_blue
        padding 0 2px
    span.decollator
        padding 0 5px
    .m-hd
        padding 0 0 10px
        margin 0 0 25px
        _border(bottom,#ededed)
        strong
            font-size 18px
            line-height 30px
            _display()
            font-weight bold
        .txt
            font-size 14px
            line-height 24px
            color #777
    .m-box
        .tit-3t
            padding 0 0 15px
            .post-name
                font-size 24px
        .article-con
            padding 0 0 15px
            .u-subtit
                font-size 18px
                line-height 30px
                _display()
                margin 0 0 5px
            .u-con
                font-size 13px
                line-height 24px
                padding 0 0 0 15px
                color #777
        &.box-pb20
            padding 0 0 20px
        &.box-pb25
            padding 0 0 25px
